


.wrapper{
    height: 100vh;
    background: rgb(64,66,59); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(64,66,59,1) 0%, rgba(7,6,7,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(64,66,59,1)), color-stop(100%,rgba(7,6,7,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(64,66,59,1) 0%,rgba(7,6,7,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(64,66,59,1) 0%,rgba(7,6,7,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(64,66,59,1) 0%,rgba(7,6,7,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(64,66,59,1) 0%,rgba(7,6,7,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40423b', endColorstr='#070607',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

    /*
      Container for the gallery:

      Absolutely positioned
      Stretch to fill the whole window width
      Fixed height
      Hide the overflow to prevent horizontal scrollbars

      Vertically centred in the viewport: http://css-discuss.incutio.com/wiki/Centering_Block_Element#Centering_an_absolutely_positioned_element
    */

#galleryContainer {
    width: 100%;
    height: 800px;        /* Image height + 200px */
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}


/*
  The gallery div that contains all the images

  We'll set the width dynamically in the JavaScript as the images load
*/

#gallery {
    width: 100px;
    height: 700px;        /* Image height + 100px */
    padding: 50px 0;
    position: absolute;
    z-index: 1;
}


/*
  Individual slides within the gallery:

  Float them left so that they're all side by side
  Fixed height (the width will vary as required)
  Add some horizontal margin between the slides
  Add a bottom fading reflection for WebKit browsers
*/

#gallery img {
    float: left;
    height: 600px;
    margin: 0 100px;      /* Adjust the left/right margin to show greater or fewer slides at once */
    -webkit-box-reflect:
        below
        0
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(1, rgba(255, 255, 255, .5)),
            color-stop(.8, rgba(255, 255, 255, 0))
        );
}


/*
  Left and right buttons:

  Position them on the left and right sides of the gallery
  Stretch them to the height of the gallery
  Hide them by default
*/

#leftButton, #rightButton {
    position: absolute;
    z-index: 2;
    top: -100px;
    bottom: 0;
    padding: 0;
    margin: auto 0;
    width: 15%;
    height: 600px;        /* Image height */
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#leftButton {
    left: 0;
}

#rightButton {
    right: 0;
}

/* (Turn off dotted black outline on FF3) */

#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
    border: none;
}

/*
  Left and right button hover states:
  Fade them in to 50% opacity
*/

#leftButton:hover, #rightButton:hover {
    opacity: .5;
    filter: alpha(opacity=50);
    outline: none;
}


/*
  Image caption:

  Position just under the centre image
  Hide by default
*/

#caption {
    position: absolute;
    z-index: 2;
    bottom: 90px;
    width: 100%;
    color: #ffc;
    text-align: center;
    font-size: 24px;
    letter-spacing: .1em;
    display: none;
}


/*
  Loading text:

  Position in the centre of the gallery container
  Hide by default
*/

#loading {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    width: 100%;
    color: #ffc;
    text-align: center;
    font-size: 36px;
    letter-spacing: .1em;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*
  Tutorial info box:

  Position it in the bottom right corner of the window
  Give the 'i' h1 a circular border
  Hide the whole div by default
  Fade it in on hover 
*/

#info {
    color: #ffc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    font-size: 70%;
}

#info>* {
    margin: 20px 40px 30px 0;
    cursor: default;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    zoom: 1;  /* Force elements to be positioned in IE7, otherwise opacity doesn't work! */
}

#info p {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#info h1 {
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 17px 1px 4px 14px;
    right: 30px;
    bottom: 30px;
    width: 20px;
    height: 14px;
    font-size: 20px;
    border: 3px solid #ffc;
    line-height: 1px;
    border-radius: 20px;
    color: #ffc;
    opacity: .5;
    filter: alpha(opacity=50);
}

#info:hover, #info.hover {
    background: rgba(50,50,50,.6);
}

#info:hover *, #info.hover * {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #ffc;
}

/* (Give the link the same colour as the other text in the box) */

#info a {
    color: #ffc;
}

