@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreAdventor-Regular'), url('../fonts/tex-gyre-adventor/texgyreadventor-regular.woff') format('woff');
}


@font-face {
  font-family: 'TeXGyreAdventor-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreAdventor-BoldItalic'), url('../fonts/tex-gyre-adventor/texgyreadventor-bolditalic.woff') format('woff');
}


@font-face {
  font-family: 'TeXGyreAdventor-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreAdventor-Bold'), url('../fonts/tex-gyre-adventor/texgyreadventor-bold.woff') format('woff');
}


@font-face {
  font-family: 'TeXGyreAdventor-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('TeXGyreAdventor-Italic'), url('../fonts/tex-gyre-adventor/texgyreadventor-italic.woff') format('woff');
}


@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/osans/opensans-bold.eot');
  src: url('../fonts/osans/opensans-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-bold.woff') format('woff'),
  url('../fonts/osans/opensans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/osans/opensans-light.eot');
  src: url('../fonts/osans/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-light.woff') format('woff'),
  url('../fonts/osans/opensans-light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}


@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('../fonts/osans/opensans-bolditalic.eot');
  src: url('../fonts/osans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-bolditalic.woff') format('woff'),
  url('../fonts/osans/opensans-bolditalic.ttf') format('truetype');
  font-weight: bold;
}




@font-face {
  font-family: 'OpenSansExtraboldRegular';
  src: url('../fonts/osans/opensans-extrabold.eot');
  src: url('../fonts/osans/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-extrabold.woff') format('woff'),
  url('../fonts/osans/opensans-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url('../fonts/osans/opensans-extrabolditalic.eot');
  src: url('../fonts/osans/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-extrabolditalic.woff') format('woff'),
  url('../fonts/osans/opensans-extrabolditalic.ttf') format('truetype');
  font-weight: normal;
}




@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/osans/opensans-italic.eot');
  src: url('../fonts/osans/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-italic.woff') format('woff'),
  url('../fonts/osans/opensans-italic.ttf') format('truetype');
  font-weight: normal;
}




@font-face {
  font-family: 'OpenSansLightRegular';
  src: url('../fonts/osans/opensans-light.eot');
  src: url('../fonts/osans/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-light.woff') format('woff'),
  url('../fonts/osans/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/osans/opensans-lightitalic.eot');
  src: url('../fonts/osans/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-lightitalic.woff') format('woff'),
  url('../fonts/osans/opensans-lightitalic.ttf') format('truetype');
  font-weight: normal;
}




@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/osans/opensans-regular.eot');
  src: url('../fonts/osans/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-regular.woff') format('woff'),
  url('../fonts/osans/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'OpenSansSemiboldRegular';
  src: url('../fonts/osans/opensans-semibold.eot');
  src: url('../fonts/osans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-semibold.woff') format('woff'),
  url('../fonts/osans/opensans-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url('../fonts/osans/opensans-semibolditalic.eot');
  src: url('../fonts/osans/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-semibolditalic.woff') format('woff'),
  url('../fonts/osans/opensans-semibolditalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url('../fonts/osans/open_sans_condensed_light.eot');
  src: url('../fonts/osans/open_sans_condensed_light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/open_sans_condensed_light.woff') format('woff'),
  url('../fonts/osans/open_sans_condensed_light.ttf') format('truetype'),
  url('../fonts/osans/open_sans_condensed_light.svg#OpenSansCondensedLight') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'OpenSansCondensedBold';
  src: url('../fonts/osans/opensans-condbold.eot');
  src: url('../fonts/osans/opensans-condbold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-condbold.woff') format('woff'),
  url('../fonts/osans/opensans-condbold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Kelson_Bold';
  src: url('../fonts/kelson/kelson_sans_bold_ru.eot');
  src: url('../fonts/kelson/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kelson/kelson_sans_bold_ru.woff') format('woff'),
  url('../fonts/kelson/kelson_sans_bold_ru.ttf') format('truetype');
}

@font-face {
  font-family: 'Kelson_Light';
  src: url('../fonts/kelson/kelson_sans_light_ru.eot');
  src: url('../fonts/kelson/kelson_sans_light_ru.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kelson/kelson_sans_light_ru.woff') format('woff'),
  url('../fonts/kelson/kelson_sans_light_ru.ttf') format('truetype');
}

@font-face {
  font-family: 'Kelson';
  src: url('../fonts/kelson/kelson_sans_regular_ru.eot');
  src: url('../fonts/kelson/kelson_sans_regular_ru.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kelson/kelson_sans_regular_ru.woff') format('woff'),
  url('../fonts/kelson/kelson_sans_regular_ru.ttf') format('truetype');
}


@font-face {
  font-family: 'Intro';
  src: url('../fonts/intro/intro.eot');
  src: url('../fonts/intro/intro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/intro/intro.woff') format('woff'),
  url('../fonts/intro/intro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}