@mixin vendor($property, $value) { 
    @each $vendor in ('-moz-', '-webkit-', '-o-', '-ms-', '') {
        #{$vendor}#{$property}: #{$value};
    }
}


@mixin icon {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
	}
}

@mixin arrow($direction, $color, $size){
    $transparent: $size solid transparent;
    $sizeborder: $size solid $color;
    display: block;
    height: 0;
    width: 0;
  @if ($direction == "top"){

    border-left: $transparent;
    border-right: $transparent;
    border-bottom: $sizeborder;
  }
  @else if ($direction == "right"){

    border-top: $transparent;
    border-bottom: $transparent;
    border-left: $sizeborder;
  }
  @else if ($direction == "bottom"){

    border-top: $sizeborder;
    border-right: $transparent;
    border-left: $transparent;
  }
  @else if ($direction == "left"){

    border-top: $transparent;
    border-right: $sizeborder;
    border-bottom: $transparent;
  }
  @else if ($direction == "top-right"){

    border-top: $sizeborder;
    border-right: $transparent;
  }
  @else if ($direction == "top-left"){

    border-top: $sizeborder;
    border-left: $transparent;
  }
  @else if ($direction == "bottom-right"){

    border-bottom: $sizeborder;
    border-right: $transparent;
  }
  @else if ($direction == "bottom-left"){

    border-bottom: $sizeborder;
    border-left: $transparent;
  }
}