$height: 800px;
$maincolor :rgb(250, 141, 17);

.angular-google-map-container { height: $height;}

.placesAppWrapper{
  max-height: $height;
  margin-top: 54px;
  width: 100%;

  #order-form{
    width: 400px;
    margin: 30px auto;
    input{
      margin: 10px 0;
      color: white;
      opacity: 1;
      text-align: center;
    }
  }
  .pFormImage{
    width: 400px;
  }
  .cartAdd{
    width: 400px;
    padding: 10px;
    background: rgb(253, 148, 10);
    border: 1px solid orange;
    font-size: 30px;
    font-family: OpenSansLight;
  }

  .cancelOrder{
    position: fixed;
    right: 18px;
    top: 60px;
    cursor: pointer;
  }
}

.placesMapWrapper{
  width: 100%;
}

.placeViewWrapper{
  height: 800px;
  width: 340px;
  overflow: hidden;
  padding: 80px 30px;
  position: absolute;
  top: 54px;
  right: 0px;
  font-family: OpenSans;
  text-align: center;
  color: black;
  background: rgba(86, 86, 86, 0.26);
  .closeButton{
    position: relative;
    height: auto;
    width: 34px;
    left: 90%;
    color: $maincolor;
    cursor: pointer;
  }

  .pTitle{
    h3{
      margin: 0;
    }
  }

  .cartAdd{
    width: 100%;
    height: 45px;
    background: rgba(236, 166, 39, 0.15);
    font-family: OpenSans;
    font-size: 20px;
    border: 4px solid #fa8d11;
    position: relative;
    top: 35px;
    line-height: 0px;
  }

  .pPrice{
    margin-top: 10px;
    div{
      font-size: 14px;
    }
    .priceClass{
      color: $maincolor;
      font-size: 40px;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .switcher{
    width: 100%;
    border: 3px solid orange;
    background: white;
    border-radius: 4px;
    .pointer{
      position: absolute;
      width: 17px;
      height: 17px;
      background: orange;
      margin: 9px 128px;
      transform: rotate(45deg);
    }
    .choice{
      display: inline-block;
      width: 50%;
      font-size: 16px;
      font-family: OpenSans;
      vertical-align: bottom;
      cursor: pointer;
      background: orange;
      color: #b67003;
      transition: all .1s ease;
      &.on{
        background: rgba(255, 255, 255, 0.5);
        color: black;
      }
    }
  }
}

.descImage{
  width: 100%;
}


.orderInfoWrapper{
  position: absolute;
  top: 50px;
  text-align: center;
  background: white;
  width: 100%;
  height: 805px;
  z-index: 200;
  .customer-info{
    text-align: center;
    background: white;
    width: 400px;
    margin: 0 auto;
    input{
      margin: 10px 0;
    }
    .errors{
      p{
        font-size: 12px;
        color: red;
        margin: 0;
      }
    }
    .make-order{
      background: transparent;
      border: 2px solid orange;
      padding: 10px;
      width: 400px;
      font-family: OpenSans;
      font-size: 18px;
      margin: 10px 0;

      &:disabled{
        border: 2px solid rgba(255, 165, 0, 0.51);
        color: rgba(0, 0, 0, 0.42);
      }
    }
  }
}

.cart-inner{
  display: inline-block;
  position: absolute;
  z-index: 100;
  font-size: 18px;
  font-family: OpenSans;
  right: 40px;
  margin: 25px 0px;
  color: black;
  img{
    position: relative;
    top: 5px;
  }
  div{
    margin: 0px 10px;
    display: inline-block;

    &.item-summary{
      background: orange;
      height: 35px;
      width: 35px;
      text-align: center;
      border-radius: 4px;
    }
  }
}

.orderWrapper{
  position: absolute;
  top: 54px;
  background: white;
  width: 100%;
  height: 800px;
  z-index: 200;

  table{
    margin-top: 30px;
    border-collapse: collapse;
    .table-head{
      background: #545454;
      color: white;
    }
    .table-body{
      &:nth-child(even){
        background: #F2F2F2;
      }
      &:nth-child(odd){
        background: #F9E9D1;
      }

       td {
        padding: 10px;
        font-size: 15px;
        font-family: OpenSans;
        text-align: center;
       }
    }
  }
  .make-order {
    background: transparent;
    border: 1px solid orange;
    padding: 10px 30px;
    font-size: 16px;
    font-family: OpenSans;
    margin: 4px 20px;
  }
  .cancel{
    background: transparent;
    border: 1px solid orange;
    padding: 10px 30px;
    font-size: 16px;
    font-family: OpenSans;
  }
}

/*Loading bar*/

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: orange;
  position: fixed;
  z-index: 10002;
  top: 53px;
  left: 0;
  width: 100%;
  height: 6px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: orange 1px 0 6px 1px;
  -ms-box-shadow: orange 1px 0 6px 1px;
  -webkit-box-shadow: orange 1px 0 6px 1px;
  box-shadow: orange 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 63px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  orange;
  border-left-color: orange;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
