$color-bg:					#f3f6fa;
$color-fg:					#7c8081;
$color-orange:              rgba(225, 95, 14, 0.78);

$color-bl:                  rgba(0, 0, 0, 0.85);
$color-tx:                  #FF8500;

$color-border:				transparentize($color-fg, 0.8);
$color-separator:           rgba(194, 194, 194, 1);
$color-menu-border:         rgba(197, 109, 14, 0.75);

$color-header-bg:			#fff;
$color-header-fg:			rgba(44, 44, 44, 0.75);
$color-header-alt-bg:		rgba(44, 44, 44, 0.75);
$color-header-alt-fg:		rgb(250, 140, 38);

$color-banner-bg: #5c5c5c;
$color-banner-fg:			#fff;
$color-banner-inner-bg:		#341b2b;
$color-banner-inner-fg:		#fff;

$color-footer-bg:			#333333;//#e2e5e8;
$color-footer-fg:			#7c8081;

$color-one-bg:				#fa8c26;
$color-one-fg:				#fff;
$color-two-bg:				#fff;
$color-two-fg:				inherit;
$color-three-bg:			#645862;
$color-three-fg:			#fff;

$color-navPanel-bg:			#1c2021;
$color-navPanel-fg:			#fff;
$color-navButton-bg:		rgba(163,169,170,0.75);
$color-navButton-fg:		#fff;

$color-twitter-bg:			#70aecd;
$color-twitter-fg:			#fff;
$color-facebook-bg:			#7490c3;
$color-facebook-fg:			#fff;
$color-google-plus-bg:		#db6b67;
$color-google-plus-fg:		#fff;
$color-github-bg:			#dcad8b;
$color-github-fg:			#fff;
$color-dribbble-bg:			#da83ae;
$color-dribbble-fg:			#fff;

$white:   rgb(255,255,255);

$cs-gold: rgb(223,201,162);
$cs-navy: rgb(21,39,49);
$cs-navy-light: rgb(78, 96, 109);
$cs-grey: rgb(85,85,89);
$cs-grey-light: rgb(235,235,235);