@charset "UTF-8";

@import url("../fonts/font-awesome.min.css");


@import 'vars';
@import 'mixins';
@import 'fonts';

@import "placesApp";



$pattern-background-size: 25em;




	body, input, textarea {
		color: $color-fg;
		font-family: 'OpenSansLightRegular', sans-serif;
		font-size: 15pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.75em;
	}

	a {
		@include vendor('transition', 'all 0.2s ease-in-out');
		color: darken($color-one-bg, 20);
		text-decoration: none;

		
		&:hover {
			border-bottom-color: transparent;
		}
	}

	strong, b {
		font-weight: 400;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 300;	
		line-height: 1.75em;
		margin-bottom: 1em;
		text-transform: uppercase;
		
		a {
			color: inherit;
			text-decoration: none;
			border: 0;
		}

        span {
          display: block;
        }
	}

	h2 {
		font-size: 1.5em;
		letter-spacing: 0.1em;
	}

	h3 {
		font-size: 1.15em;
		letter-spacing: 0.025em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}
	
	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}
	
	hr {
		border-top: solid 1px $color-separator;
		margin-bottom: 1.5em;

        &.separator{
          margin: 0px auto;
          background: radial-gradient(ellipse farthest-side,rgba(0,0,0,.3) 10%, transparent 100%);
          height: 18px;
          width: 800px;
          border: 0;
          position: absolute;
          clip: rect(10px, 800px, 20px, 0px);
          display: block;
          left: 0;
          right: 0;
        }
	}

    .clearfix{
      clear: both;
    }
	
	blockquote {
		border-left: solid 0.5em $color-border;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section, article {
		&.special {
			text-align: center;

          #services{
              div{
                header{
                  font-family: 'OpenSansBold';
                  font-size: 16px;
                }
                div{
                  p{
                    margin: 0;
                    font-family: OpenSans;
                    color: rgba(0, 0, 0, 0.9);
                    font-size: 16px;
                  }
                }
              }
          }

		}

        &.company-info{
          color: rgba(53, 53, 53, 1);
          opacity: 1;
          font-family: 'OpenSansCondensedLight';
          header{
            min-height: 100px;

            h3{
              font-size: 1em;
            }

            img{
              opacity: 0.9;
              height: 100px;
              float: left;
            }

            &:after{
              clear: both;
            }
          }
          p{
            font-size: 0.9em;
          }
        }      
	}

	header {
		&.major {
			padding-bottom: 2em;
		}
		
		&.special {

			padding-top: 1em;
			position: relative;
			text-align: center;

            a{
              color: rgba(0, 0, 0, 0.51)
            }

            &:hover{

              &:before,
              &:after {
                opacity: 1;
                color: $color-header-alt-fg;
              }
            }

			&:before,
			&:after {
                @include vendor('transition', 'all 0.5s ease');
				border-bottom: solid 1.5px;
				border-top: solid 1.5px;
				content: '';
				height: 7px;

				position: absolute;
				top: 3.75em;
				width: 43%;

			}
			
			&:before {
				left: 0;
			}
			
			&:after {
				right: 0;
			}
			
			h2 {
				margin-bottom: 0;
			}
			
			h2 + p {
				margin-bottom: 0;
				padding-top: 1.5em;
			}
			
			.icon {
                @include vendor('transition', 'all 0.5s ease');
				cursor: pointer;
				height: 7em;
				left: 0;
				position: absolute;
				text-align: center;
				top: 3em;
				width: 100%;

				
				&:before {
                    @include vendor('transition', 'all 0.5s ease');
					font-size: 3.5em;


				}

                &:hover{

                  &:before{
                    opacity: 1;
                    color:$color-header-alt-fg;
                    cursor: pointer;
                  }

                }


			}
		}
        &.service
        {
          .feature
          {
            width: 100px;
            float: left;
            img
            {

            }
          }
          h3
          {
            padding-top: 1.5em;
            font-size: 1em;
          }
        }
	}
	
	footer {
		> :last-child {
			margin-bottom: 0;
		}
		
		&.major {
			padding-top: 3em;
		}
	}

    .desc-title{
      text-align: center;
      color: rgba(53, 53, 53, 0.9);
      font-size: 1.6em;
      text-transform: uppercase;
      width: 100%;
      font-weight: bold;
      letter-spacing: 0.3em;
      opacity: 0.9;

    }

    .adress{
      padding: 1em;
    }
/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		@include vendor('transition', 'background-color 0.2s ease-in-out, border-color 0.2s ease-in-out');
		@include vendor('appearance', 'none');
		background: none;
		border: solid 1px $color-border;
		color: inherit;
		display: block;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		outline: 0;
		
		&:focus {
			border-color: $color-one-bg;
		}
	}

    select{
      background: none;
      border: solid 1px rgba(124, 128, 129, 0.2);
      color: inherit;
      display: block;
      padding: 0.75em;
      text-decoration: none;
      width: 100%;
      outline: 0;
    }

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {  
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {  
		color: transparentize($color-fg, 0.5) !important;
	}

    .contact-form{
      margin: 1em 0 1em 0;
    }

/* Image */

	.image {
		border: 0;
		position: relative;
		
		&:before {
			background: url('images/overlay.png');
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		&.fit {
			display: block;

			img {
				display: block;
				width: 100%;
			}
		}
		
		&.feature {
			display: block;
			margin: 0 0 2em 0;
			
			img {
				display: block;
				width: 100%;
			}
		}
	}

/* Icon */

	.icon {
		@include icon;
		position: relative;

		&.circle {
			@include vendor('transition', 'all 0.2s ease-in-out');
			border: 0;
			border-radius: 100%;
			display: inline-block;
			font-size: 1.25em;
			height: 2.25em;
			left: 0;
			line-height: 2.25em;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 2.25em;
		
			&:hover {
				top: -0.2em;
			}
		
			&.fa-twitter {
				background: $color-twitter-bg;
				color: $color-twitter-fg;
				
				&:hover {
					background: lighten($color-twitter-bg, 4);
				}
			}
		
			&.fa-facebook {
				background: $color-facebook-bg;
				color: $color-facebook-fg;

				&:hover {
					background: lighten($color-facebook-bg, 4);
				}
			}
		
			&.fa-google-plus {
				background: $color-google-plus-bg;
				color: $color-google-plus-fg;

				&:hover {
					background: lighten($color-google-plus-bg, 4);
				}
			}
		
			&.fa-github {
				background: $color-github-bg;
				color: $color-github-fg;

				&:hover {
					background: lighten($color-github-bg, 4);
				}
			}
		
			&.fa-dribbble {
				background: $color-dribbble-bg;
				color: $color-dribbble-fg;

				&:hover {
					background: lighten($color-dribbble-bg, 4);
				}
			}
		}
		
		&.feature {
			cursor: default;
			display: block;
			margin: 0 0 1.5em 0;
			opacity: 0.35;
			text-align: center;
			
			&:before {
				font-size: 5em;
				line-height: 1em;
			}
		}

		> .label {
			display: none;
		}
	}
	
/* Lists */

	ol
	{
		&.default {
			list-style: decimal;
			padding-left: 1.25em;

			li {
				padding-left: 0.25em;
			}
		}
	}

	ul {
		&.default {
			list-style: disc;
			padding-left: 1em;

			li {
				padding-left: 0.5em;
			}
		}
		
		&.icons {
			cursor: default;

			li {
				display: inline-block;
				line-height: 1em;
				padding-left: 0.5em;

				&:first-child {
					padding-left: 0;
				}
			}		
		}
		
		&.feature-icons {
			cursor: default;
			margin: -0.75em 0 0 0;
			opacity: 0.35;
			overflow: hidden;
			position: relative;

			li {
				display: block;
				float: left;
				text-align: center;
				width: 50%;
				
				.icon {
					display: inline-block;
					font-size: 6.25em;
					height: 1.25em;
					line-height: 1.25em;
					width: 1em;
				}
			}		
		}
				
		&.buttons {
			cursor: default;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				display: inline-block;
				padding: 0 0 0 1.5em;
			
				&:first-child {
					padding: 0;
				}

                &.contact{
                  width:100%;
                }
			}
			
			&.vertical {
				li {
					display: block;
					padding: 1.5em 0 0 0;
			
					&:first-child {
						padding: 0;
					}
				}
			}
		}
	}

/* Tables */

	table {
		width: 100%;
	
		&.default {
			width: 100%;
		
			tbody {
				tr {
					border-bottom: solid 1px $color-border;
				}
			}
			
			td {
				padding: 0.5em 1em 0.5em 1em;
			}
			
			th {
				font-weight: 400;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}
		
			thead {
				background: $color-fg;
				color: #fff;
			}
			
			tfoot {
			}
			
			tbody {
			}
		}
	}
		
/* Button */

	.button {
		background: none;
		border: solid 1px;
		color: inherit;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0.75em 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
        cursor: pointer;

		&:hover {
			background: rgba(188,202,206,0.15);
			border-color: inherit;
		}
	
		&.special {
			background: $color-one-bg;
			border-color: $color-one-bg;
			color: $color-one-fg !important;
            width: 100%;
			
			&:hover {
				background: lighten($color-one-bg, 5) !important;
				border-color: lighten($color-one-bg, 5) !important;
			}
		}
		
		&.fit {
			width: 100%;
		}
		
		&.small {
			font-size: 0.7em;
			min-width: 14em;
			padding: 0.5em 0;
		}
	}
	
/* Wrapper */

	.wrapper {


		&.style1 {
          padding: 2em 0 2em 0;
          background-color: #fa8c26;
          position: relative;
          top: 60px;
          @include vendor('transform', 'skewY(-4deg)');

          .skew-inner{
            @include vendor('transform', 'skewY(4deg)');
            header{
              font-family: 'OpenSans';
            }
          }
		}
	
		&.style2 {
			background-color: $color-one-bg;
			background-position: bottom left, bottom right;
			background-repeat: no-repeat, no-repeat;
			background-size: $pattern-background-size, $pattern-background-size;
			color: $color-one-fg;
            padding: 2em;

			.button {
				&:hover {
					background: rgba(255,255,255,0.15) !important;
				}

				&.special {
					background: $color-one-fg;
					border-color: $color-one-fg;
					color: $color-one-bg !important;
					
					&:hover {
						border-color: inherit !important;
						color: $color-one-fg !important;
					}
				}
			}

            .row{
              text-align: center;


                .whyus{
                  text-align: center;
                  color: rgba(53, 53, 53, 0.9);
                  font-size: 2.5em;
                  text-transform: uppercase;
                  width: 100%;
                  font-weight: bold;
                  letter-spacing: 0.2em;
                  text-shadow: 1px 0px 7px rgba(255, 255, 255, 0.71);
                }
            }

		}
		
		&.style3 {
			background: $color-two-bg;
			color: $color-two-fg;
		}
		
		&.style4 {
			background: $color-two-bg;
			color: $color-two-fg;
			padding: 4em;
		}

        &.clients{
          margin-top: 2em ;
          margin-bottom: 2em;

          .slider-prev,.slider-next {
              a{
                border: none;
              }
          }

        }
	}

/* Header */

	@-moz-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-webkit-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-o-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@-ms-keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }
	@keyframes reveal-header { 0% { top: -5em; } 100% { top: 0; } }

	#header {
		color: $color-header-fg;
		cursor: default;
		font-size: 0.8em;
		left: 0;
		padding: 2em 2.5em;
		top: 0;
		width: 100%;
		z-index: 1000;
		
		h1 {
			font-weight: 900;
			margin: 0;
			
			span {
				font-weight: 300;
			}
		}

        &.page{
          padding: 0;
        }

        .alt-menu{
            div{
              float: right;

              &:hover{
                cursor: pointer;
                @include vendor('transition', 'all 0.5s ease-in-out');
              }

              a{

                &:hover{
                  span{
                    color: $color-one-bg;
                  }
                }

                span{
                  color: #E4E4E4;
                  vertical-align: bottom;
                  padding: 0px 10px;
                  text-transform: capitalize;
                  font-size: 15px;
                  letter-spacing: 1px;
                  font-family: Open_Sans;
                  font-weight: 400;
                }

              }
            }
        }

        .alt-logo{
          img{
            height: 90px;
          }

        }

        .slogan{
          padding: 25px 0 0 25px;

            strong{
              color: white;
              font-size: 30px;
              text-shadow: 1px 1px 4px #5A5A5A;
              border-left: 2px solid rgba(250, 250, 250, 0.85);
              padding-left: 20px;
              margin-top: 43px;
              display: block;
            }
        }

        .phone-desc{
          color: #E4E4E4;
          line-height: 20px;
          float: right;
          height: 90px;
            div{
              margin-top: 20px;
              div{
                display: inline-block;
                &:first-child{
                  font-size: 16px;
                  margin-bottom: 20px;
                  font-family: 'OpenSans';
                  font-weight: 400;
                }

                &:last-child{
                  font-size: 27px;
                  vertical-align: super;
                }
              }

              span{
                border-left: 1px solid #E4E4E4;
                height: 32px;
                margin-top: 4px;
                margin-left: 10px;
                margin-right: 10px;
                display: inline-block;
              }
            }
        }






		.logo{
			     position: absolute;
			     top: 5px;

			     a{
			        color: transparent;
			     }

			    .alt{
			        display: block;

			    }

			    .white{
			        display: none;
			    }
			}



		nav {
            @include vendor('transition', 'all 0.4s ease-in');
			text-transform: uppercase;
            display: block;

            &.main{
              ul{
                background: #ec8414;
                border-radius: 4px;
                margin: 0;
                height: 60px;
                color: $white;
                li{
                  float: left;

                  height: 60px;
                  margin: 0;
                  border-right: 2px solid $color-menu-border;

                  a{
                    padding: 14px 30px 12px 30px;
                    color: white;
                    font-size: 15px;
                    font-family: OpenSans;
                    display: block;
                  }

                  &:first-child{
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                  }

                  &:last-child{
                    float: right;
                    border-right: none;
                    border-left: 2px solid $color-menu-border;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                    > span{
                      display: block;
                      padding: 14px;
                    }
                  }
                  &.active,
                  &:hover {
                    cursor: pointer;
                    background: $color-orange;
                    > a {

                    }

                    ul{
                      @include vendor('transition', 'all 0.6s ease');
                      height: auto;
                      border-radius: 0;
                      z-index: 1000;
                      position: absolute;
                      display: block;

                      &.nav-sub{
                        li{
                          float: none;
                          border-radius: 0;
                          border-right: none;
                          border-bottom: 2px solid rgba(221, 129, 7, 0.70);
                          height: 50px;
                          background: rgba(255, 148, 24, 0.85);
                          a{
                            padding: 8px 30px;
                            font-size: 12px;
                          }
                          &:hover{
                            background: $color-orange;
                          }
                        }
                      }
                    }

                  }

                  ul{
                   display: none;
                   height: 0;
                  }


                }
                .pointer{
                  display: none;
                }
              }
            }

            &.right{
              right: 1em;
              top: 1em;
            }

            &.pages{
              background: #333333;
              ul{
                margin: 0;
                li{
                  float: left;
                  a{
                    display: block;
                    color:#FFFFFF;
                  }
                  &:first-child{
                    a{
                      padding: 0 30px;
                    }
                    &:hover {
                      background: $color-header-fg;
                      > a {
                        color: $color-header-fg;
                        border: 0;
                      }
                    }
                  }

                  &:last-child{
                    img{
                      height: 50px;
                      padding: 5px;
                      margin-right: 20px;
                    }
                  }
                  &.active,
                  &:hover {
                    > a {
                      color: $color-header-alt-fg;
                    }
                  }

                  &:hover {
                    > a {
                      color: $color-header-alt-fg;
                    }
                    ul{
                      @include vendor('transition', 'all 0.6s ease');
                      height: auto;
                      border-radius: 0;
                      z-index: 1000;
                      position: absolute;
                      display: block;
                      background: rgba(255, 148, 24, 0.85);
                      &.nav-sub{
                        li{
                          float: none;
                          border-radius: 0;
                          border-right: none;
                          border-bottom: 2px solid rgba(221, 129, 7, 0.70);
                          height: 50px;
                          a{
                            padding: 8px 30px;
                            font-size: 12px;
                          }
                          &:first-child{

                            &:hover {

                              > a {
                                color: $color-header-alt-fg;
                                border: 0;

                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  ul{
                    display: none;
                  }
                }
              }
            }

            &.fixed{
              width: 100%;
              position: fixed;
              top: 0;
              left: 0;
              border-radius: 0px;
              font-size: 14px;
              z-index: 900;

              ul{

                height:50px;
                border-radius: 0;
                li{
                  height:50px;
                  border-right: none;
                  a{
                    padding: 8px 30px;
                    font-size: 14px;
                  }

                  &:first-child{
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                  }

                  &:last-child{
                    float: right;

                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    span{
                      padding: 8px 30px;
                    }
                  }

                  &.active,
                  &:hover {
                    cursor: pointer;
                    background: $color-orange;
                    > a {

                    }

                    ul{
                      margin-top: -4px;
                      padding-top: 6px;
                      background: transparent;
                      &.nav-sub{
                        li{

                          a{

                          }
                          &:last-child{
                            border-left: none;
                          }
                        }
                      }
                      &:after{
                        content: '';
                        border: none;
                      }
                    }
                  }
                }

                .pointer{
                  @include vendor('transition', 'left 0.3s ease-in');
                  @include vendor('transition', 'top 8s swing');
                  display: block;
                  top: 42px;
                  left: 0;
                  border: solid transparent;
                  content: attr(pointer);
                  height: 0;
                  width: 0;
                  position: absolute;
                  border-color: rgba(238, 102, 102, 0);
                  border-bottom-color: #323232;
                  border-width: 4px;
                  margin-left: -4px;
                  padding: 0;
                }

                &:after{
                  content: '';
                  width: 100%;
                  display: block;
                  position: relative;
                  top: 50px;
                  border-bottom: 3px solid rgb(84, 80, 78);
                }
              }
              &.inverse{
                 ul{
                   li{
                     &.active,
                     &:hover{
                       background: #333333;
                       ul{

                         &.nav-sub{
                           li{
                             background: #333333;

                             a{

                             }
                           }
                         }
                       }
                     }
                   }
                   &:after{

                     border-bottom: 3px solid rgb(255, 133, 48);
                   }
                   .pointer{

                     border-color: rgba(255, 133, 48, 0);
                     border-bottom-color: rgb(255, 133, 48);

                   }
                 }
              }
            }




		&.alt {

			background: transparent;
			color: #FFFFFF;
			padding: 2em 4.5em;
			position: absolute;

            .logo{
			     position: relative;


			     a{
			        color: #000000;
			     }

			     .alt{
			        display: none;
			     }
			}

			nav {

				position: relative;
                background: #ec8414;
                border-radius: 4px;
                color: #FFF;

				ul {
                  padding: 0; margin: 0;
					li {
                      border-right: 1px solid $color-menu-border;
                      padding: 1em;


                        a{
                          border: none;
                        }

						&.active,
						&:hover {
								background: #e66803;
                                a{
                                color: #FFF;
                                border: none;}
						}

					}

                  > :last-child{
                    position: absolute;
                    right: 0px;
                    border: none;
                    background: #f7af03;
                    border-radius: 0 4px 4px 0;
                    min-width: 220px;
                    text-align: center;

                      &:hover{
                        cursor: pointer;
                      }
                  }


				}
			}
		}
      }
	}
	
/* Dropotron */

	.dropotron {
		background: #fff;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.075);
		line-height: 2.25em;
		min-width: 13em;
		padding: 1em 0;
		text-transform: uppercase;

		&.level-0 {
			font-size: 0.7em;
			font-weight: 400;
			margin-top: 1.5em;
			
			&:before {
				border-bottom: solid 0.5em #fff;
				border-left: solid 0.5em transparent;
				border-right: solid 0.5em transparent;
				content: '';
				left: 0.75em;
				position: absolute;
				top: -0.45em;
			}
		}
		
		> li {
			border-top: solid 1px $color-border;
			
			> a {
				@include vendor('transition', 'none');
				color: inherit;
				text-decoration: none;
				padding: 0 1em;
				border: 0;
			}

			&:hover {
				> a {
					background: $color-one-bg;
					color: $color-one-fg;
				}
			}
			
			&:first-child {
				border-top: 0;
			}
		}
	}

/* Banner */

	@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
	@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

	#banner {
		background-attachment: scroll, fixed;
		background-color: $color-three-bg;
		background-image: url('images/overlay.png'), url('../images/banner.jpg');
		background-position:  top left, top center;
		background-repeat:  repeat, no-repeat;
		background-size: auto, cover;
		color: $color-banner-fg;
		cursor: default;
		text-align: center;

        &.services{
          background-position: top left,0% -20%;
          background-repeat:  repeat, no-repeat;
          background-size: auto, contain;
          background-attachment: scroll, fixed;
          height: 20em;
          background-image: url("images/overlay.png"), url("../images/services2.png");
          overflow: hidden;

          h1{
            padding: 10%;
            font-size: 200%;
            letter-spacing: 14px;
            text-shadow: 0px 1px 4px black;
          }
        }

        #top-slider{
          margin: 0 auto;
          position: relative;
          top: 50%;

          position: relative;
          margin: 0 auto;
          width: 100%;
          text-align: center;
          height: 300px;
          transition: 1s;


          .slide{
            position: absolute;
            font-size: 2.6em;
            color: #FF8500;
            padding: 50px;
            text-shadow: 0px 1px 1px black;
            letter-spacing: 0px;
            width: 95%;
            font-family: 'OpenSansSemiboldRegular';

            .slide-inner{

              text-transform: uppercase;
              color: #FFFFFF;
              display: block;
              font-size: 0.5em;
              float: right;
              margin: 50px 10% 0 0;

            }

          }
        }

        .quote{
          position: absolute;
          top: 100px;
          left: 55%;
          width: 500px;
          text-align: left;
          color: #4C4C4C;
          font-weight: normal;

          blockquote{
            margin: 10px auto;
            font-size: 1em;
          }

          p{
            text-align: right;
            margin: 30px 80px;
            font-size: 1.3em;
          }
        }

		.inner {
			@include vendor('animation', 'reveal-banner 1s 0.25s ease-in-out');
			@include vendor('animation-fill-mode', 'forwards');
			color: $color-banner-inner-fg;
			display: inline-block;
			opacity: 0;
			padding: 3em;
			text-align: center;
            margin: 10em auto;


			header {
				display: inline-block;
				margin: 0 0 2em 0;
				padding: 3px 0 3px 0;
				
				h2 {
					text-transform: none;
				}
			}
			
			p {
				letter-spacing: 0.1em;
				margin: 0;
				text-transform: uppercase;
				
				a {
					color: inherit;
					font-weight: 400;
					text-decoration: none;
				}
			}
			
			footer {
				margin: 2em 0 0 0;
			}

		}
	}
	
/* Main */

	#main {
      background-image:url(../images/geeraf1.png), url(../images/geeraf.png);
      background-size: 60%, 60%;
      background-position: top right, bottom left;
	  background-repeat: no-repeat, no-repeat;
      margin-bottom: -10px;

		> :last-child {
			margin-bottom: 0;
		}

		.sidebar {
			section {
				border-top: solid 1px $color-border;
				margin: 3em 0 0 0;
				padding: 3em 0 0 0;
				
				&:first-child {
					border-top: 0;
					padding-top: 0;
					margin-top: 0;
				}
			}
		}



	}

	body.index #main {

	}
	
/* CTA */

	#cta {
		background-attachment:  scroll, fixed;
		background-color: $color-three-bg;
		background-image: url('images/overlay.png'), url('../images/banner.jpg');
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		color: $color-three-fg;
        padding: 10em 5em 5em 5em;
		text-align: center;
		
		header {
			margin-bottom: 2em;
            text-shadow: 3px 4px 8px rgba(0, 0, 0, 1);

		}
        .promo-inner{
          width: 60%;
          margin: 0 auto;
          border-radius: 4px;

          header{
            p{
              font-size: 23px;
              color: $color-tx;
            }
          }

          input{

            width: 50%;
            margin: 1em auto;
            padding: 1em;
            border-radius: 4px;


            &.promo-input{
              background: rgba(0, 0, 0, 0.25);
              text-align: center;
            }
          }


        }
	}
	
/* Footer */

	#footer {
		background: $color-footer-bg;
		color: $color-footer-fg;
        padding: 5em 4em 2em 4em;
        text-align: center;
        border-top: 1px solid rgba(240, 124, 17, 0.5);


		
		.copyright {
			font-size: 0.8em;
			
			a {
				color: inherit;
			}
		}

        .social-block{


          .phone{
            letter-spacing: 4px;
            font-size: 18px;
            text-align: center;

          }


          .social-icons{
            margin: 0 auto;


            li{
              display: inline-block;
              padding: 1em;

              a{
                border: none;
              }
            }



            .fa {
              background-color: rgba(0, 0, 0, 0.15);
              width: 50px;
              height: 50px;
              line-height: 50px;
              text-align: center;
              color: #FFF;
              color: rgba(255, 255, 255, 0.8);
              border-radius: 50%;
              @include vendor('transition', 'all 0.3s ease-in-out');

              &:hover{

                &.fa-facebook{
                  background-color:#3C599F;
                }
                &.fa-vk{
                  background-color:#375474;
                }
                &.fa-phone{
                  background-color:$color-orange;
                }

              }
            }


          }

        }


        .bottom-menu{
          text-align: left;
          font-size: 0.8em;
          line-height: 1.5em;

            li{

              a{
               border: none;
              }

            }

        }

	}
	
/* Layers */

	#topButton {
		.toggle {
			@include icon;
			height: 100%;
			left: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			
			&:before {
				color: $color-navButton-fg;
				content: '\f039';
				font-size: 0.75em;
				height: 30px;
				left: 0;
				line-height: 30px;
				opacity: 0.5;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
			
			&:after {
				background: $color-navButton-bg;
				border-radius: 0 0 4px 4px;
				content: '';
				height: 30px;
				left: 50%;
				margin-left: -40px;
				position: absolute;
				top: 0;
				width: 80px;
			}
		}
	}

	#sideButton {
		.toggle {
			@include icon;
			height: 100%;
			left: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			
			&:before {
				color: $color-navButton-fg;
				content: '\f039';
				font-size: 1em;
				height: 40px;
				left: 10px;
				line-height: 40px;
				opacity: 0.5;
				position: absolute;
				top: 11px;
				width: 60px;
				z-index: 1;
			}
			
			&:after {
				background: $color-navButton-bg;
				border-radius: 2px;
				content: '';
				height: 40px;
				left: 10px;
				position: absolute;
				top: 10px;
				width: 60px;
			}
		}
	}

	#topPanel,
	#sidePanel {
		background: $color-navPanel-bg;
		color: $color-navPanel-fg;
		font-size: 0.8em;
		letter-spacing: 0.075em;
		text-transform: uppercase;

		nav {
			padding: 0.25em 0.5em 1em 0.5em;
		}
		
		.link {
			border: 0;
			border-top: solid 1px transparentize($color-navPanel-fg, 0.95);
			color: inherit;
			display: block;
			height: 3em;
			line-height: 3em;
			opacity: 0.75;
			text-decoration: none;
			
			&.depth-0 {
				font-weight: 900;
			}
			
			&:first-child {
				border-top: 0;
			}
		}

		.indent-1 { display: inline-block; width: 1em; }
		.indent-2 { display: inline-block; width: 2em; }
		.indent-3 { display: inline-block; width: 3em; }
		.indent-4 { display: inline-block; width: 4em; }
		.indent-5 { display: inline-block; width: 5em; }
	}

    .grid{
      margin-top: 4em;
      .item{

        a{
           img{
             height: 300px;
           }
        }
      }
    }

    /*Bx Slider*/

    .bx-slider{
         li{

            img{
              @include vendor('filter', 'grayscale(100%)');
            }
         }
    }

    .bx-wrapper {
      position: relative;
      margin: 0 auto 60px;
      padding: 0;
      *zoom: 1;
    }

    .bx-wrapper img {
      max-width: 100%;
      display: block;
      @include vendor('transition', 'all 0.3s ease');
      @include vendor('filter', 'grayscale(100%) brightness(100%) contrast(70%)');

      &:hover{
        @include vendor('filter', 'none');
      }
    }

    /** THEME
    ===================================*/

    .bx-wrapper .bx-viewport {

      left: -5px;



      /*fix other elements on the page moving (on Chrome)*/
      -webkit-transform: translatez(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      transform: translatez(0);
    }

    .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
      position: absolute;
      bottom: -150px;
      width: 100%;
    }

    /* LOADER */

    .bx-wrapper .bx-loading {
      min-height: 50px;
      background: url(images/bx_loader.gif) center center no-repeat #fff;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2000;
    }

    /* PAGER */

    .bx-wrapper .bx-pager {
      text-align: center;
      font-size: .85em;
      font-family: Arial;
      font-weight: bold;
      color: #666;
      padding-top: 20px;
    }

    .bx-wrapper .bx-pager .bx-pager-item,
    .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover,
    .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: #000;
    }

    /* DIRECTION CONTROLS (NEXT / PREV) */







    .bx-wrapper .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      outline: 0;
      width: 60px;
      height: 60px;
      text-indent: -9999px;
      z-index: 9999;
      border: none;
    }

    .bx-wrapper .bx-controls-direction a.disabled {
      display: none;
    }

    /* AUTO CONTROLS (START / STOP) */

    .bx-wrapper .bx-controls-auto {
      text-align: center;
    }

    .bx-wrapper .bx-controls-auto .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      background: url(images/controls.png) -86px -11px no-repeat;
      margin: 0 3px;
    }

    .bx-wrapper .bx-controls-auto .bx-start:hover,
    .bx-wrapper .bx-controls-auto .bx-start.active {
      background-position: -86px 0;
    }

    .bx-wrapper .bx-controls-auto .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      background: url(images/controls.png) -86px -44px no-repeat;
      margin: 0 3px;
    }

    .bx-wrapper .bx-controls-auto .bx-stop:hover,
    .bx-wrapper .bx-controls-auto .bx-stop.active {
      background-position: -86px -33px;
    }

    /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
      text-align: left;
      width: 80%;
    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
      right: 0;
      width: 35px;
    }

    /* IMAGE CAPTIONS */

    .bx-wrapper .bx-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #666\9;
      background: rgba(80, 80, 80, 0.75);
      width: 100%;
    }

    .bx-wrapper .bx-caption span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px;
    }

    .info {
      padding: 5em;
      line-height: 5em;
      font-size: 0.9em;
    }
/*---------- vertical tab nav */
    #vertical_tab_nav{
      display: block;
      width: 100%;
    }
    #vertical_tab_nav ul{
      display: block;
      float: left;
      margin: 0px;
      padding: 0px;
      list-style: none;
      overflow: hidden;
      width: 30%;
      background: #555;
    }
    #vertical_tab_nav li{
      border-bottom: 1px solid #000;
      margin-bottom: 1px;
      text-align: left;
      padding: 0px;
    }
    #vertical_tab_nav li:last-child{
      margin-bottom: 0px;
      border-bottom: 0px;
    }
    #vertical_tab_nav li a{
      display: block;
      font-size: 14pt;
      color: #fff;
      text-decoration: none;
      padding: 7%;
      background: #57cac9;
      background: -webkit-linear-gradient(top,#444,#333);
      background: -moz-linear-gradient(top,#444,#333);
    }
    #vertical_tab_nav li a.selected{
      background: transparent;
      color: $color-header-alt-fg;
    }
    #vertical_tab_nav div{
      display: block;
      float: left;
      background: transparent;
      background: transparent;
      width:64%;
      min-height: 500px;
      padding: 10px 3% 3% 3%;
      border-radius: 0 10px 10px 0;
    }
    #vertical_tab_nav div article{
      display: none;
      margin: 0px;
      color: #555;

    }
    #vertical_tab_nav div article p{
      margin: 0px 0px 20px 0px;
    }

/* Team  Styles */
    .inner-wrapper{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }


    .column{

      display: inline-block;

      .img-team{
        .imgInner{
          height: 350px;
          width: 100%;
          margin: 0 auto;
          overflow: hidden;
        }
      }
    }

    .column img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      padding: 20%;
    }

    .img-team{

    }

    .section-header{
      text-align: center;
    }

    .section-info{
      text-align: center;
    }

    .column-header{
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
      white-space: nowrap;
    }

    .column-content{
      text-align: center;
      font-size: 12px;
      color: #a2a2a2;
      font-style: italic;
    }

    .section-header{
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      padding-top: 118px;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    .section-info{
      font-family: 'Droid Serif', sans-serif;
      font-style: italic;
      color: #a2a2a2;
      margin-bottom: 80px;
    }





    .section-4{
      background: #f7f7f7;

    }

    .row-section-4{
      margin-bottom: 50px;
    }

    .slogan-team{
      font-size: 12px;
      color: #a2a2a2;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }

    .content-right{
      left: 70%;
    }

    @media screen and (max-width: 938px){
      .content-right{
        left: 0;
      }
    }
/* Tooltip From Styles*/
  .tooltip{
    background-color: #fa8c26;
    display: inline-block;
    width: 320px;
    text-align: center;
    padding: 20px;
    margin: 20px 0 0;
    position: absolute;
    z-index: 100;
    right: 0em;
    top: 3em;

    &:before{
//      content: "";
//      position: absolute;
//      top: -20px;
//      right: 20px;
//      @include arrow(top, $color-header-alt-fg, 20px);
    }

    .phone{
      border-bottom: 1px solid white;
      border-left: none;
      border-top: none;
      border-right: none;
      text-align: center;
      letter-spacing: 4px;

      &:hover,
      &:focus{
        border-bottom: 1px solid white;
      }
    }
  }

  .tooltip-footer{
    background-color: $color-header-alt-fg;
    display: inline-block;
    width: 320px;
    text-align: center;
    padding: 20px;
    margin: 20px 0 0;
    position: absolute;
    z-index: 100;
    right: 12%;
    bottom: 230px;
    color: white;

    &:before{
      content: "";
      position: absolute;
      top: 135px;
      right: 20px;
      @include arrow(bottom, $color-header-alt-fg, 20px);
    }

    .phone{
      border-bottom: 1px solid white;
      border-left: none;
      border-top: none;
      border-right: none;

      &:hover,
      &:focus{
        border-bottom: 1px solid white;
      }
    }
  }

/*  Accordion */

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
  position: relative;
  background: $color-header-fg;
  color: $color-header-alt-fg;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  background: $color-bg;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  .head-vacancy{
    ul{
      list-style:none;
      height: 70px;
      margin:0;
      li{
        display: block;

        &:first-child{
          float: left;
        }
        &:last-child{
          float: right;
        }
      }

    }
  }

  p{
    margin: 0 0 1em 0;
  }

  ul{
    margin: 0 0 1em 0;
  }
}
.about{
  margin-top: 4em;
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
  color: rgb(66, 66, 66);
  font-family: OpenSans;
  padding-bottom: 30px;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 1;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
// Review
  .review{
    margin: 80px 10% 0 10%;
    h2{
      float: left;
    }
    blockquote{
      width: 40%;
      float: right;
    }
  }
    .reviews{


      .single-review{



        header{
          background: rgb(252, 239, 210);
          border-radius: 6px;
          color: black;
          font-family: OpenSans;
          min-height: 100px;

          div{
            height: 110px;
            width: 110px;
            float: left;
            margin: 0 20px;
            img{
              padding: 10px;
              border-radius: 50pt;
              height: 105px;
            }
          }

          span{
            display: block;
            margin: 0;
            font-size: 16px;
          }
        }

        .text{
          border-bottom: 2px solid $color-header-fg;
          margin-bottom: 10px;
          font-family: OpenSans;
          color: rgb(60, 60, 60);;
          font-size: 14px;
          line-height: 24px;
          padding: 10px;
        }
      }
    }


/* Side tabs for service page */

.blenderTabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blenderTabs ul li {
  height: 60px;
  margin: 0;
  padding: 26px 0 0 10px;
  border-bottom: 1px solid #fff;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.tabContent{
  font-family: Roboto;
  padding-right: 4em;
  text-align: justify;
  @include vendor('transition', 'all 0.3s ease-in-out');

  h2{
    text-align: center;
  }
}

.active.tabContent {
  display: block !important;
}

.leading--zero {
  list-style-type: decimal-leading-zero;
}

ol.leading--zero {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol.leading--zero li {
  display: block;
  height: 67px;
  line-height: 67px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  padding-left: 2em;

  &.menuitem{
    font-family: Roboto;

    @include vendor('transition', 'all 0.3s ease-in-out');
  }
}
ol.leading--zero li.active {
  background: $color-header-alt-bg;
  color: $color-header-alt-fg;
  border-right: 2px solid $color-header-alt-fg;
  @include vendor('transition', 'all 0.3s ease-in-out');
}



/* Custom Layout */

.content--inline {
  display: inline;
  font-size: .8em;
}

/* Constructions */
.const{
  .constructions{

      img{
        height: 200px;
        margin: 0 25px;
      }

  }

  #map{
    background: url(../images/map_main.png) no-repeat;
    background-size: 100%;
    height: 100px;
    width: 100%;

    &:after{
      content: 'Посмотреть на карте';
      position: absolute;
      left: 20%;
      margin-top: 10px;
      font-size: 30px;
      color: rgba(102, 102, 102, 1);
      font-weight: 500;
      background: rgba(167, 126, 41, 0.2);
      padding: 16px;
    }

  }
}

/*Payment Page Stylesheets*/

  .payment{
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;

      img{
        margin: 0 auto;
      }

      div{
        margin: 0 auto;
        width: 60%;

        h1{
          font-family: 'Open Sans';
          font-weight: 400;
          font-size: 1.5em;
          color: rgb(230, 101, 0);
          padding-bottom: 30px;
          border-bottom: 2px dashed;

          i{
            color: rgba(2, 2, 2, 0.82);
            font-size: 14px;
          }
        }
      }
  }

  #pay-form{

    input,
    select,
    textarea{
      font-family: 'Open Sans';
      font-weight: 300;
    }

  }

  .services-body{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color-header-alt-fg;
    span{
      display: block;
      color: rgb(49, 49, 49);
    }

  }

 /*News styles*/
 .newsItem{
    h1{
      font-family: 'OpenSansBold';
      font-size: 25px;
      color: #545454;
      margin:0;
    }

    > p{
      margin: 0 0 0 10px;
      font-weight: bold;
      font-size: 16px;
    }

    .newsdate{
      float: right;
      font-family: OpenSansCondensedBold;
      font-size: 14px;
    }

    .more{
      float: right;
      margin: 2px 100px 0 0;
      a{
        &.button{
          font-size: 0.6em;
          min-width: 18em;
          padding: 2px 0;
        }
      }
    }

    hr{
      margin-top: 1px;
    }
 }

 /*Pop up form */
 .ui-icon-closethick{

 }
 .popup{
   display: none;
   padding: 35px;
   width: 400px;
   border: 1px solid rgb(100, 100, 100);
   border-radius: 6px;
   box-shadow: rgb(115, 115, 115) 0px 4px 26px;
   min-height: 43px;
   height: auto;
   background: rgb(218, 218, 218);
   opacity: 1;

   form{
     input{
       padding: 8px;
       margin: 10px 0;
     }
   }
 }
 #loginFromWrapper{
   padding: 20px;
   background: white;
   border: 2px solid #939393;
   text-align: center;
   display: none;
   border-radius: 4px;
   .login{
     margin: 0 auto;
     input{
       margin-top: 10px;
       padding: 5px;
     }
   }

   p{
     font-family: OpenSans;
     font-size: 16px;
     margin: 12px 0px;
     color: rgba(89, 89, 89, 0.95);
   }

   .fa {
     background-color: rgba(0, 0, 0, 0.15);
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     color: #FFF;
     color: rgba(255, 255, 255, 0.8);
     border-radius: 50%;
     @include vendor('transition', 'all 0.3s ease-in-out');

     &:hover{

       &.fa-facebook{
         background-color:#3C599F;
       }
       &.fa-vk{
         background-color:#375474;
       }
       &.fa-phone{
         background-color:$color-orange;
       }

     }

   .icon {
     @include icon;
     position: relative;

     }

     &.circle {
       @include vendor('transition', 'all 0.2s ease-in-out');
       border: 0;
       border-radius: 100%;
       display: inline-block;
       font-size: 1.25em;
       height: 2.25em;
       left: 0;
       line-height: 2.25em;
       text-align: center;
       text-decoration: none;
       top: 0;
       width: 2.25em;

       &:hover {
         top: -0.2em;
       }

       &.fa-twitter {
         background: $color-twitter-bg;
         color: $color-twitter-fg;

         &:hover {
           background: lighten($color-twitter-bg, 4);
         }
       }

       &.fa-facebook {
         background: $color-facebook-bg;
         color: $color-facebook-fg;

         &:hover {
           background: lighten($color-facebook-bg, 4);
         }
       }

       &.fa-google-plus {
         background: $color-google-plus-bg;
         color: $color-google-plus-fg;

         &:hover {
           background: lighten($color-google-plus-bg, 4);
         }
       }

       &.fa-github {
         background: $color-github-bg;
         color: $color-github-fg;

         &:hover {
           background: lighten($color-github-bg, 4);
         }
       }

       &.fa-dribbble {
         background: $color-dribbble-bg;
         color: $color-dribbble-fg;

         &:hover {
           background: lighten($color-dribbble-bg, 4);
         }
       }
     }

     &.feature {
       cursor: default;
       display: block;
       margin: 0 0 1.5em 0;
       opacity: 0.35;
       text-align: center;

       &:before {
         font-size: 5em;
         line-height: 1em;
       }
     }

     > .label {
       display: none;
     }
   }
 }

 .userInfo{
   display:inline-block;
   position: relative;
   top: 4px;
   img{
     height: 40px;

   }
   a{
     font-family: OpenSans;
     font-size: 16px;
     text-transform: lowercase;
     position: relative;
     bottom: 15px;
     left: 15px;
   }
 }

 .loginHeaderWrapper{
   margin: 8px 0;
   padding: 0!important;
 }

 .secondary-menu{
   height: 50px;
   color: white;
   display: none;

   div{
     cursor: pointer;
     display: inline-block;
     margin-top: 6px;
     padding: 0 150px;
     img{
       height: 30px;
     }
     span{
       position: relative;
       bottom: 6px;
       left: 6px;
       font-size: 10px;
       font-family: OpenSans;
     }
     a{
       color: white;
     }


     &.userInfo{
       div{
         &.userPic{
           padding: 0;
           border-radius: 50%;

         }
       }
       span{
         margin-right: 10px;
       }
       img{

         height: 40px;
       }
     }
     &:last-child{
       float: right;
       margin-right: 20px;
       margin-top: 2px;
       padding: 0;
     }
   }
 }

#menuButton{
  float: right;
}
/* btn */
.menuBtn {
  position: relative;
  display:  inline-block;
  width: 30px;
  height: 30px;
  padding: 0!important;
  margin: 10px 20px;
}
.menuBtn span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.menuBtn span:before, .menuBtn span:after {
  position: absolute;
  content: '';
}
.menuBtn span, .menuBtn span:before, .menuBtn span:after {
  width: 30px;
  height: 6px;
  background-color: #ffffff;
  display: block;
}
.menuBtn span:before {
  margin-top: -12px;
}
.menuBtn span:after {
  margin-top: 12px;
}

.closeBtn span {
  -webkit-transition-duration: 0s;
  -webkit-transition-delay: .2s;
}
.closeBtn span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: .2s;
}
.closeBtn span:before {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.closeBtn span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition-delay: 0, .2s;
}
.closeBtn span:after {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.closeBtn span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transition-delay: 0, .2s;
}

#review_form{
  input{
    margin: 10px;
  }

  textarea{
    margin: 10px;
  }
}





