@charset "UTF-8";
@import url("../fonts/font-awesome.min.css");
@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  font-style: normal;
  font-weight: normal;
  src: local("TeXGyreAdventor-Regular"), url("../fonts/tex-gyre-adventor/texgyreadventor-regular.woff") format("woff"); }
@font-face {
  font-family: 'TeXGyreAdventor-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: local("TeXGyreAdventor-BoldItalic"), url("../fonts/tex-gyre-adventor/texgyreadventor-bolditalic.woff") format("woff"); }
@font-face {
  font-family: 'TeXGyreAdventor-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("TeXGyreAdventor-Bold"), url("../fonts/tex-gyre-adventor/texgyreadventor-bold.woff") format("woff"); }
@font-face {
  font-family: 'TeXGyreAdventor-Italic';
  font-style: normal;
  font-weight: normal;
  src: local("TeXGyreAdventor-Italic"), url("../fonts/tex-gyre-adventor/texgyreadventor-italic.woff") format("woff"); }
@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/osans/opensans-bold.eot");
  src: url("../fonts/osans/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-bold.woff") format("woff"), url("../fonts/osans/opensans-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/osans/opensans-light.eot");
  src: url("../fonts/osans/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-light.woff") format("woff"), url("../fonts/osans/opensans-light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/osans/opensans-bolditalic.eot");
  src: url("../fonts/osans/opensans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-bolditalic.woff") format("woff"), url("../fonts/osans/opensans-bolditalic.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'OpenSansExtraboldRegular';
  src: url("../fonts/osans/opensans-extrabold.eot");
  src: url("../fonts/osans/opensans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-extrabold.woff") format("woff"), url("../fonts/osans/opensans-extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansExtraboldItalic';
  src: url("../fonts/osans/opensans-extrabolditalic.eot");
  src: url("../fonts/osans/opensans-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-extrabolditalic.woff") format("woff"), url("../fonts/osans/opensans-extrabolditalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/osans/opensans-italic.eot");
  src: url("../fonts/osans/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-italic.woff") format("woff"), url("../fonts/osans/opensans-italic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'OpenSansLightRegular';
  src: url("../fonts/osans/opensans-light.eot");
  src: url("../fonts/osans/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-light.woff") format("woff"), url("../fonts/osans/opensans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/osans/opensans-lightitalic.eot");
  src: url("../fonts/osans/opensans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-lightitalic.woff") format("woff"), url("../fonts/osans/opensans-lightitalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/osans/opensans-regular.eot");
  src: url("../fonts/osans/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-regular.woff") format("woff"), url("../fonts/osans/opensans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansSemiboldRegular';
  src: url("../fonts/osans/opensans-semibold.eot");
  src: url("../fonts/osans/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-semibold.woff") format("woff"), url("../fonts/osans/opensans-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/osans/opensans-semibolditalic.eot");
  src: url("../fonts/osans/opensans-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-semibolditalic.woff") format("woff"), url("../fonts/osans/opensans-semibolditalic.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url("../fonts/osans/open_sans_condensed_light.eot");
  src: url("../fonts/osans/open_sans_condensed_light.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/open_sans_condensed_light.woff") format("woff"), url("../fonts/osans/open_sans_condensed_light.ttf") format("truetype"), url("../fonts/osans/open_sans_condensed_light.svg#OpenSansCondensedLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansCondensedBold';
  src: url("../fonts/osans/opensans-condbold.eot");
  src: url("../fonts/osans/opensans-condbold.eot?#iefix") format("embedded-opentype"), url("../fonts/osans/opensans-condbold.woff") format("woff"), url("../fonts/osans/opensans-condbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Kelson_Bold';
  src: url("../fonts/kelson/kelson_sans_bold_ru.eot");
  src: url("../fonts/kelson/kelson_sans_bold_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson/kelson_sans_bold_ru.woff") format("woff"), url("../fonts/kelson/kelson_sans_bold_ru.ttf") format("truetype"); }
@font-face {
  font-family: 'Kelson_Light';
  src: url("../fonts/kelson/kelson_sans_light_ru.eot");
  src: url("../fonts/kelson/kelson_sans_light_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson/kelson_sans_light_ru.woff") format("woff"), url("../fonts/kelson/kelson_sans_light_ru.ttf") format("truetype"); }
@font-face {
  font-family: 'Kelson';
  src: url("../fonts/kelson/kelson_sans_regular_ru.eot");
  src: url("../fonts/kelson/kelson_sans_regular_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson/kelson_sans_regular_ru.woff") format("woff"), url("../fonts/kelson/kelson_sans_regular_ru.ttf") format("truetype"); }
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro/intro.eot");
  src: url("../fonts/intro/intro.eot?#iefix") format("embedded-opentype"), url("../fonts/intro/intro.woff") format("woff"), url("../fonts/intro/intro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.angular-google-map-container {
  height: 800px; }

.placesAppWrapper {
  max-height: 800px;
  margin-top: 54px;
  width: 100%; }
  .placesAppWrapper #order-form {
    width: 400px;
    margin: 30px auto; }
    .placesAppWrapper #order-form input {
      margin: 10px 0;
      color: white;
      opacity: 1;
      text-align: center; }
  .placesAppWrapper .pFormImage {
    width: 400px; }
  .placesAppWrapper .cartAdd {
    width: 400px;
    padding: 10px;
    background: #fd940a;
    border: 1px solid orange;
    font-size: 30px;
    font-family: OpenSansLight; }
  .placesAppWrapper .cancelOrder {
    position: fixed;
    right: 18px;
    top: 60px;
    cursor: pointer; }

.placesMapWrapper {
  width: 100%; }

.placeViewWrapper {
  height: 800px;
  width: 340px;
  overflow: hidden;
  padding: 80px 30px;
  position: absolute;
  top: 54px;
  right: 0px;
  font-family: OpenSans;
  text-align: center;
  color: black;
  background: rgba(86, 86, 86, 0.26); }
  .placeViewWrapper .closeButton {
    position: relative;
    height: auto;
    width: 34px;
    left: 90%;
    color: #fa8d11;
    cursor: pointer; }
  .placeViewWrapper .pTitle h3 {
    margin: 0; }
  .placeViewWrapper .cartAdd {
    width: 100%;
    height: 45px;
    background: rgba(236, 166, 39, 0.15);
    font-family: OpenSans;
    font-size: 20px;
    border: 4px solid #fa8d11;
    position: relative;
    top: 35px;
    line-height: 0px; }
  .placeViewWrapper .pPrice {
    margin-top: 10px; }
    .placeViewWrapper .pPrice div {
      font-size: 14px; }
    .placeViewWrapper .pPrice .priceClass {
      color: #fa8d11;
      font-size: 40px;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px; }
  .placeViewWrapper .switcher {
    width: 100%;
    border: 3px solid orange;
    background: white;
    border-radius: 4px; }
    .placeViewWrapper .switcher .pointer {
      position: absolute;
      width: 17px;
      height: 17px;
      background: orange;
      margin: 9px 128px;
      transform: rotate(45deg); }
    .placeViewWrapper .switcher .choice {
      display: inline-block;
      width: 50%;
      font-size: 16px;
      font-family: OpenSans;
      vertical-align: bottom;
      cursor: pointer;
      background: orange;
      color: #b67003;
      transition: all .1s ease; }
      .placeViewWrapper .switcher .choice.on {
        background: rgba(255, 255, 255, 0.5);
        color: black; }

.descImage {
  width: 100%; }

.orderInfoWrapper {
  position: absolute;
  top: 50px;
  text-align: center;
  background: white;
  width: 100%;
  height: 805px;
  z-index: 200; }
  .orderInfoWrapper .customer-info {
    text-align: center;
    background: white;
    width: 400px;
    margin: 0 auto; }
    .orderInfoWrapper .customer-info input {
      margin: 10px 0; }
    .orderInfoWrapper .customer-info .errors p {
      font-size: 12px;
      color: red;
      margin: 0; }
    .orderInfoWrapper .customer-info .make-order {
      background: transparent;
      border: 2px solid orange;
      padding: 10px;
      width: 400px;
      font-family: OpenSans;
      font-size: 18px;
      margin: 10px 0; }
      .orderInfoWrapper .customer-info .make-order:disabled {
        border: 2px solid rgba(255, 165, 0, 0.51);
        color: rgba(0, 0, 0, 0.42); }

.cart-inner {
  display: inline-block;
  position: absolute;
  z-index: 100;
  font-size: 18px;
  font-family: OpenSans;
  right: 40px;
  margin: 25px 0px;
  color: black; }
  .cart-inner img {
    position: relative;
    top: 5px; }
  .cart-inner div {
    margin: 0px 10px;
    display: inline-block; }
    .cart-inner div.item-summary {
      background: orange;
      height: 35px;
      width: 35px;
      text-align: center;
      border-radius: 4px; }

.orderWrapper {
  position: absolute;
  top: 54px;
  background: white;
  width: 100%;
  height: 800px;
  z-index: 200; }
  .orderWrapper table {
    margin-top: 30px;
    border-collapse: collapse; }
    .orderWrapper table .table-head {
      background: #545454;
      color: white; }
    .orderWrapper table .table-body:nth-child(even) {
      background: #F2F2F2; }
    .orderWrapper table .table-body:nth-child(odd) {
      background: #F9E9D1; }
    .orderWrapper table .table-body td {
      padding: 10px;
      font-size: 15px;
      font-family: OpenSans;
      text-align: center; }
  .orderWrapper .make-order {
    background: transparent;
    border: 1px solid orange;
    padding: 10px 30px;
    font-size: 16px;
    font-family: OpenSans;
    margin: 4px 20px; }
  .orderWrapper .cancel {
    background: transparent;
    border: 1px solid orange;
    padding: 10px 30px;
    font-size: 16px;
    font-family: OpenSans; }

/*Loading bar*/
/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all; }

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0; }

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1; }

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: orange;
  position: fixed;
  z-index: 10002;
  top: 53px;
  left: 0;
  width: 100%;
  height: 6px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px; }

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: orange 1px 0 6px 1px;
  -ms-box-shadow: orange 1px 0 6px 1px;
  -webkit-box-shadow: orange 1px 0 6px 1px;
  box-shadow: orange 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 63px;
  left: 10px; }

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: orange;
  border-left-color: orange;
  border-radius: 10px;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite; }

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
body, input, textarea {
  color: #7c8081;
  font-family: 'OpenSansLightRegular', sans-serif;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em; }

a {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #b65a04;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent; }

strong, b {
  font-weight: 400; }

p, ul, ol, dl, table, blockquote {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    display: block; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em; }

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border-top: solid 1px #c2c2c2;
  margin-bottom: 1.5em; }
  hr.separator {
    margin: 0px auto;
    background: radial-gradient(ellipse farthest-side, rgba(0, 0, 0, 0.3) 10%, transparent 100%);
    height: 18px;
    width: 800px;
    border: 0;
    position: absolute;
    clip: rect(10px, 800px, 20px, 0px);
    display: block;
    left: 0;
    right: 0; }

.clearfix {
  clear: both; }

blockquote {
  border-left: solid 0.5em rgba(124, 128, 129, 0.2);
  font-style: italic;
  padding: 1em 0 1em 2em; }

section.special, article.special {
  text-align: center; }
  section.special #services div header, article.special #services div header {
    font-family: 'OpenSansBold';
    font-size: 16px; }
  section.special #services div div p, article.special #services div div p {
    margin: 0;
    font-family: OpenSans;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px; }
section.company-info, article.company-info {
  color: #353535;
  opacity: 1;
  font-family: 'OpenSansCondensedLight'; }
  section.company-info header, article.company-info header {
    min-height: 100px; }
    section.company-info header h3, article.company-info header h3 {
      font-size: 1em; }
    section.company-info header img, article.company-info header img {
      opacity: 0.9;
      height: 100px;
      float: left; }
    section.company-info header:after, article.company-info header:after {
      clear: both; }
  section.company-info p, article.company-info p {
    font-size: 0.9em; }

header.major {
  padding-bottom: 2em; }
header.special {
  padding-top: 1em;
  position: relative;
  text-align: center; }
  header.special a {
    color: rgba(0, 0, 0, 0.51); }
  header.special:hover:before, header.special:hover:after {
    opacity: 1;
    color: #fa8c26; }
  header.special:before, header.special:after {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    position: absolute;
    top: 3.75em;
    width: 43%; }
  header.special:before {
    left: 0; }
  header.special:after {
    right: 0; }
  header.special h2 {
    margin-bottom: 0; }
  header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em; }
  header.special .icon {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 3em;
    width: 100%; }
    header.special .icon:before {
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 3.5em; }
    header.special .icon:hover:before {
      opacity: 1;
      color: #fa8c26;
      cursor: pointer; }
header.service .feature {
  width: 100px;
  float: left; }
header.service h3 {
  padding-top: 1.5em;
  font-size: 1em; }

footer > :last-child {
  margin-bottom: 0; }
footer.major {
  padding-top: 3em; }

.desc-title {
  text-align: center;
  color: rgba(53, 53, 53, 0.9);
  font-size: 1.6em;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.3em;
  opacity: 0.9; }

.adress {
  padding: 1em; }

/* Form */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: solid 1px rgba(124, 128, 129, 0.2);
  color: inherit;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  outline: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #fa8c26; }

select {
  background: none;
  border: solid 1px rgba(124, 128, 129, 0.2);
  color: inherit;
  display: block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
  outline: 0; }

input[type="text"],
input[type="password"],
input[type="email"] {
  line-height: 1em; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  position: relative;
  top: 3px; }

:-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

::-moz-placeholder {
  color: inherit;
  opacity: 0.5; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5; }

.formerize-placeholder {
  color: rgba(124, 128, 129, 0.5) !important; }

.contact-form {
  margin: 1em 0 1em 0; }

/* Image */
.image {
  border: 0;
  position: relative; }
  .image:before {
    background: url("images/overlay.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .image.fit {
    display: block; }
    .image.fit img {
      display: block;
      width: 100%; }
  .image.feature {
    display: block;
    margin: 0 0 2em 0; }
    .image.feature img {
      display: block;
      width: 100%; }

/* Icon */
.icon {
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  .icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em; }
    .icon.circle:hover {
      top: -0.2em; }
    .icon.circle.fa-twitter {
      background: #70aecd;
      color: white; }
      .icon.circle.fa-twitter:hover {
        background: #7fb7d2; }
    .icon.circle.fa-facebook {
      background: #7490c3;
      color: white; }
      .icon.circle.fa-facebook:hover {
        background: #829bc9; }
    .icon.circle.fa-google-plus {
      background: #db6b67;
      color: white; }
      .icon.circle.fa-google-plus:hover {
        background: #df7b77; }
    .icon.circle.fa-github {
      background: #dcad8b;
      color: white; }
      .icon.circle.fa-github:hover {
        background: #e1b89b; }
    .icon.circle.fa-dribbble {
      background: #da83ae;
      color: white; }
      .icon.circle.fa-dribbble:hover {
        background: #df93b8; }
  .icon.feature {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center; }
    .icon.feature:before {
      font-size: 5em;
      line-height: 1em; }
  .icon > .label {
    display: none; }

/* Lists */
ol.default {
  list-style: decimal;
  padding-left: 1.25em; }
  ol.default li {
    padding-left: 0.25em; }

ul.default {
  list-style: disc;
  padding-left: 1em; }
  ul.default li {
    padding-left: 0.5em; }
ul.icons {
  cursor: default; }
  ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em; }
    ul.icons li:first-child {
      padding-left: 0; }
ul.feature-icons {
  cursor: default;
  margin: -0.75em 0 0 0;
  opacity: 0.35;
  overflow: hidden;
  position: relative; }
  ul.feature-icons li {
    display: block;
    float: left;
    text-align: center;
    width: 50%; }
    ul.feature-icons li .icon {
      display: inline-block;
      font-size: 6.25em;
      height: 1.25em;
      line-height: 1.25em;
      width: 1em; }
ul.buttons {
  cursor: default; }
  ul.buttons:last-child {
    margin-bottom: 0; }
  ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em; }
    ul.buttons li:first-child {
      padding: 0; }
    ul.buttons li.contact {
      width: 100%; }
  ul.buttons.vertical li {
    display: block;
    padding: 1.5em 0 0 0; }
    ul.buttons.vertical li:first-child {
      padding: 0; }

/* Tables */
table {
  width: 100%; }
  table.default {
    width: 100%; }
    table.default tbody tr {
      border-bottom: solid 1px rgba(124, 128, 129, 0.2); }
    table.default td {
      padding: 0.5em 1em 0.5em 1em; }
    table.default th {
      font-weight: 400;
      padding: 0.5em 1em 0.5em 1em;
      text-align: left; }
    table.default thead {
      background: #7c8081;
      color: #fff; }

/* Button */
.button {
  background: none;
  border: solid 1px;
  color: inherit;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  letter-spacing: 2px;
  min-width: 18em;
  padding: 0.75em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit; }
  .button.special {
    background: #fa8c26;
    border-color: #fa8c26;
    color: white !important;
    width: 100%; }
    .button.special:hover {
      background: #fb993f !important;
      border-color: #fb993f !important; }
  .button.fit {
    width: 100%; }
  .button.small {
    font-size: 0.7em;
    min-width: 14em;
    padding: 0.5em 0; }

/* Wrapper */
.wrapper.style1 {
  padding: 2em 0 2em 0;
  background-color: #fa8c26;
  position: relative;
  top: 60px;
  -moz-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  transform: skewY(-4deg); }
  .wrapper.style1 .skew-inner {
    -moz-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    transform: skewY(4deg); }
    .wrapper.style1 .skew-inner header {
      font-family: 'OpenSans'; }
.wrapper.style2 {
  background-color: #fa8c26;
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 25em, 25em;
  color: white;
  padding: 2em; }
  .wrapper.style2 .button:hover {
    background: rgba(255, 255, 255, 0.15) !important; }
  .wrapper.style2 .button.special {
    background: white;
    border-color: white;
    color: #fa8c26 !important; }
    .wrapper.style2 .button.special:hover {
      border-color: inherit !important;
      color: white !important; }
  .wrapper.style2 .row {
    text-align: center; }
    .wrapper.style2 .row .whyus {
      text-align: center;
      color: rgba(53, 53, 53, 0.9);
      font-size: 2.5em;
      text-transform: uppercase;
      width: 100%;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-shadow: 1px 0px 7px rgba(255, 255, 255, 0.71); }
.wrapper.style3 {
  background: white;
  color: inherit; }
.wrapper.style4 {
  background: white;
  color: inherit;
  padding: 4em; }
.wrapper.clients {
  margin-top: 2em;
  margin-bottom: 2em; }
  .wrapper.clients .slider-prev a, .wrapper.clients .slider-next a {
    border: none; }

/* Header */
@-moz-keyframes reveal-header {
  0% {
    top: -5em; }

  100% {
    top: 0; } }
@-webkit-keyframes reveal-header {
  0% {
    top: -5em; }

  100% {
    top: 0; } }
@-o-keyframes reveal-header {
  0% {
    top: -5em; }

  100% {
    top: 0; } }
@-ms-keyframes reveal-header {
  0% {
    top: -5em; }

  100% {
    top: 0; } }
@keyframes reveal-header {
  0% {
    top: -5em; }

  100% {
    top: 0; } }
#header {
  color: rgba(44, 44, 44, 0.75);
  cursor: default;
  font-size: 0.8em;
  left: 0;
  padding: 2em 2.5em;
  top: 0;
  width: 100%;
  z-index: 1000; }
  #header h1 {
    font-weight: 900;
    margin: 0; }
    #header h1 span {
      font-weight: 300; }
  #header.page {
    padding: 0; }
  #header .alt-menu div {
    float: right; }
    #header .alt-menu div:hover {
      cursor: pointer;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    #header .alt-menu div a:hover span {
      color: #fa8c26; }
    #header .alt-menu div a span {
      color: #E4E4E4;
      vertical-align: bottom;
      padding: 0px 10px;
      text-transform: capitalize;
      font-size: 15px;
      letter-spacing: 1px;
      font-family: Open_Sans;
      font-weight: 400; }
  #header .alt-logo img {
    height: 90px; }
  #header .slogan {
    padding: 25px 0 0 25px; }
    #header .slogan strong {
      color: white;
      font-size: 30px;
      text-shadow: 1px 1px 4px #5A5A5A;
      border-left: 2px solid rgba(250, 250, 250, 0.85);
      padding-left: 20px;
      margin-top: 43px;
      display: block; }
  #header .phone-desc {
    color: #E4E4E4;
    line-height: 20px;
    float: right;
    height: 90px; }
    #header .phone-desc div {
      margin-top: 20px; }
      #header .phone-desc div div {
        display: inline-block; }
        #header .phone-desc div div:first-child {
          font-size: 16px;
          margin-bottom: 20px;
          font-family: 'OpenSans';
          font-weight: 400; }
        #header .phone-desc div div:last-child {
          font-size: 27px;
          vertical-align: super; }
      #header .phone-desc div span {
        border-left: 1px solid #E4E4E4;
        height: 32px;
        margin-top: 4px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block; }
  #header .logo {
    position: absolute;
    top: 5px; }
    #header .logo a {
      color: transparent; }
    #header .logo .alt {
      display: block; }
    #header .logo .white {
      display: none; }
  #header nav {
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    text-transform: uppercase;
    display: block; }
    #header nav.main ul {
      background: #ec8414;
      border-radius: 4px;
      margin: 0;
      height: 60px;
      color: white; }
      #header nav.main ul li {
        float: left;
        height: 60px;
        margin: 0;
        border-right: 2px solid rgba(197, 109, 14, 0.75); }
        #header nav.main ul li a {
          padding: 14px 30px 12px 30px;
          color: white;
          font-size: 15px;
          font-family: OpenSans;
          display: block; }
        #header nav.main ul li:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px; }
        #header nav.main ul li:last-child {
          float: right;
          border-right: none;
          border-left: 2px solid rgba(197, 109, 14, 0.75);
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px; }
          #header nav.main ul li:last-child > span {
            display: block;
            padding: 14px; }
        #header nav.main ul li.active, #header nav.main ul li:hover {
          cursor: pointer;
          background: rgba(225, 95, 14, 0.78); }
          #header nav.main ul li.active ul, #header nav.main ul li:hover ul {
            -moz-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            transition: all 0.6s ease;
            height: auto;
            border-radius: 0;
            z-index: 1000;
            position: absolute;
            display: block; }
            #header nav.main ul li.active ul.nav-sub li, #header nav.main ul li:hover ul.nav-sub li {
              float: none;
              border-radius: 0;
              border-right: none;
              border-bottom: 2px solid rgba(221, 129, 7, 0.7);
              height: 50px;
              background: rgba(255, 148, 24, 0.85); }
              #header nav.main ul li.active ul.nav-sub li a, #header nav.main ul li:hover ul.nav-sub li a {
                padding: 8px 30px;
                font-size: 12px; }
              #header nav.main ul li.active ul.nav-sub li:hover, #header nav.main ul li:hover ul.nav-sub li:hover {
                background: rgba(225, 95, 14, 0.78); }
        #header nav.main ul li ul {
          display: none;
          height: 0; }
      #header nav.main ul .pointer {
        display: none; }
    #header nav.right {
      right: 1em;
      top: 1em; }
    #header nav.pages {
      background: #333333; }
      #header nav.pages ul {
        margin: 0; }
        #header nav.pages ul li {
          float: left; }
          #header nav.pages ul li a {
            display: block;
            color: #FFFFFF; }
          #header nav.pages ul li:first-child a {
            padding: 0 30px; }
          #header nav.pages ul li:first-child:hover {
            background: rgba(44, 44, 44, 0.75); }
            #header nav.pages ul li:first-child:hover > a {
              color: rgba(44, 44, 44, 0.75);
              border: 0; }
          #header nav.pages ul li:last-child img {
            height: 50px;
            padding: 5px;
            margin-right: 20px; }
          #header nav.pages ul li.active > a, #header nav.pages ul li:hover > a {
            color: #fa8c26; }
          #header nav.pages ul li:hover > a {
            color: #fa8c26; }
          #header nav.pages ul li:hover ul {
            -moz-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            transition: all 0.6s ease;
            height: auto;
            border-radius: 0;
            z-index: 1000;
            position: absolute;
            display: block;
            background: rgba(255, 148, 24, 0.85); }
            #header nav.pages ul li:hover ul.nav-sub li {
              float: none;
              border-radius: 0;
              border-right: none;
              border-bottom: 2px solid rgba(221, 129, 7, 0.7);
              height: 50px; }
              #header nav.pages ul li:hover ul.nav-sub li a {
                padding: 8px 30px;
                font-size: 12px; }
              #header nav.pages ul li:hover ul.nav-sub li:first-child:hover > a {
                color: #fa8c26;
                border: 0; }
          #header nav.pages ul li ul {
            display: none; }
    #header nav.fixed {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      border-radius: 0px;
      font-size: 14px;
      z-index: 900; }
      #header nav.fixed ul {
        height: 50px;
        border-radius: 0; }
        #header nav.fixed ul li {
          height: 50px;
          border-right: none; }
          #header nav.fixed ul li a {
            padding: 8px 30px;
            font-size: 14px; }
          #header nav.fixed ul li:first-child {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0; }
          #header nav.fixed ul li:last-child {
            float: right;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0; }
            #header nav.fixed ul li:last-child span {
              padding: 8px 30px; }
          #header nav.fixed ul li.active, #header nav.fixed ul li:hover {
            cursor: pointer;
            background: rgba(225, 95, 14, 0.78); }
            #header nav.fixed ul li.active ul, #header nav.fixed ul li:hover ul {
              margin-top: -4px;
              padding-top: 6px;
              background: transparent; }
              #header nav.fixed ul li.active ul.nav-sub li:last-child, #header nav.fixed ul li:hover ul.nav-sub li:last-child {
                border-left: none; }
              #header nav.fixed ul li.active ul:after, #header nav.fixed ul li:hover ul:after {
                content: '';
                border: none; }
        #header nav.fixed ul .pointer {
          -moz-transition: left 0.3s ease-in;
          -webkit-transition: left 0.3s ease-in;
          -o-transition: left 0.3s ease-in;
          -ms-transition: left 0.3s ease-in;
          transition: left 0.3s ease-in;
          -moz-transition: top 8s swing;
          -webkit-transition: top 8s swing;
          -o-transition: top 8s swing;
          -ms-transition: top 8s swing;
          transition: top 8s swing;
          display: block;
          top: 42px;
          left: 0;
          border: solid transparent;
          content: attr(pointer);
          height: 0;
          width: 0;
          position: absolute;
          border-color: rgba(238, 102, 102, 0);
          border-bottom-color: #323232;
          border-width: 4px;
          margin-left: -4px;
          padding: 0; }
        #header nav.fixed ul:after {
          content: '';
          width: 100%;
          display: block;
          position: relative;
          top: 50px;
          border-bottom: 3px solid #54504e; }
      #header nav.fixed.inverse ul li.active, #header nav.fixed.inverse ul li:hover {
        background: #333333; }
        #header nav.fixed.inverse ul li.active ul.nav-sub li, #header nav.fixed.inverse ul li:hover ul.nav-sub li {
          background: #333333; }
      #header nav.fixed.inverse ul:after {
        border-bottom: 3px solid #ff8530; }
      #header nav.fixed.inverse ul .pointer {
        border-color: rgba(255, 133, 48, 0);
        border-bottom-color: #ff8530; }
    #header nav.alt {
      background: transparent;
      color: #FFFFFF;
      padding: 2em 4.5em;
      position: absolute; }
      #header nav.alt .logo {
        position: relative; }
        #header nav.alt .logo a {
          color: #000000; }
        #header nav.alt .logo .alt {
          display: none; }
      #header nav.alt nav {
        position: relative;
        background: #ec8414;
        border-radius: 4px;
        color: #FFF; }
        #header nav.alt nav ul {
          padding: 0;
          margin: 0; }
          #header nav.alt nav ul li {
            border-right: 1px solid rgba(197, 109, 14, 0.75);
            padding: 1em; }
            #header nav.alt nav ul li a {
              border: none; }
            #header nav.alt nav ul li.active, #header nav.alt nav ul li:hover {
              background: #e66803; }
              #header nav.alt nav ul li.active a, #header nav.alt nav ul li:hover a {
                color: #FFF;
                border: none; }
          #header nav.alt nav ul > :last-child {
            position: absolute;
            right: 0px;
            border: none;
            background: #f7af03;
            border-radius: 0 4px 4px 0;
            min-width: 220px;
            text-align: center; }
            #header nav.alt nav ul > :last-child:hover {
              cursor: pointer; }

/* Dropotron */
.dropotron {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  line-height: 2.25em;
  min-width: 13em;
  padding: 1em 0;
  text-transform: uppercase; }
  .dropotron.level-0 {
    font-size: 0.7em;
    font-weight: 400;
    margin-top: 1.5em; }
    .dropotron.level-0:before {
      border-bottom: solid 0.5em #fff;
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      content: '';
      left: 0.75em;
      position: absolute;
      top: -0.45em; }
  .dropotron > li {
    border-top: solid 1px rgba(124, 128, 129, 0.2); }
    .dropotron > li > a {
      -moz-transition: none;
      -webkit-transition: none;
      -o-transition: none;
      -ms-transition: none;
      transition: none;
      color: inherit;
      text-decoration: none;
      padding: 0 1em;
      border: 0; }
    .dropotron > li:hover > a {
      background: #fa8c26;
      color: white; }
    .dropotron > li:first-child {
      border-top: 0; }

/* Banner */
@-moz-keyframes reveal-banner {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes reveal-banner {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes reveal-banner {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes reveal-banner {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes reveal-banner {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
#banner {
  background-attachment: scroll, fixed;
  background-color: #645862;
  background-image: url("images/overlay.png"), url("../images/banner.jpg");
  background-position: top left, top center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: white;
  cursor: default;
  text-align: center; }
  #banner.services {
    background-position: top left,0% -20%;
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
    background-attachment: scroll, fixed;
    height: 20em;
    background-image: url("images/overlay.png"), url("../images/services2.png");
    overflow: hidden; }
    #banner.services h1 {
      padding: 10%;
      font-size: 200%;
      letter-spacing: 14px;
      text-shadow: 0px 1px 4px black; }
  #banner #top-slider {
    margin: 0 auto;
    position: relative;
    top: 50%;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 300px;
    transition: 1s; }
    #banner #top-slider .slide {
      position: absolute;
      font-size: 2.6em;
      color: #FF8500;
      padding: 50px;
      text-shadow: 0px 1px 1px black;
      letter-spacing: 0px;
      width: 95%;
      font-family: 'OpenSansSemiboldRegular'; }
      #banner #top-slider .slide .slide-inner {
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        font-size: 0.5em;
        float: right;
        margin: 50px 10% 0 0; }
  #banner .quote {
    position: absolute;
    top: 100px;
    left: 55%;
    width: 500px;
    text-align: left;
    color: #4C4C4C;
    font-weight: normal; }
    #banner .quote blockquote {
      margin: 10px auto;
      font-size: 1em; }
    #banner .quote p {
      text-align: right;
      margin: 30px 80px;
      font-size: 1.3em; }
  #banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -o-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    color: white;
    display: inline-block;
    opacity: 0;
    padding: 3em;
    text-align: center;
    margin: 10em auto; }
    #banner .inner header {
      display: inline-block;
      margin: 0 0 2em 0;
      padding: 3px 0 3px 0; }
      #banner .inner header h2 {
        text-transform: none; }
    #banner .inner p {
      letter-spacing: 0.1em;
      margin: 0;
      text-transform: uppercase; }
      #banner .inner p a {
        color: inherit;
        font-weight: 400;
        text-decoration: none; }
    #banner .inner footer {
      margin: 2em 0 0 0; }

/* Main */
#main {
  background-image: url(../images/geeraf1.png), url(../images/geeraf.png);
  background-size: 60%, 60%;
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: -10px; }
  #main > :last-child {
    margin-bottom: 0; }
  #main .sidebar section {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    margin: 3em 0 0 0;
    padding: 3em 0 0 0; }
    #main .sidebar section:first-child {
      border-top: 0;
      padding-top: 0;
      margin-top: 0; }

/* CTA */
#cta {
  background-attachment: scroll, fixed;
  background-color: #645862;
  background-image: url("images/overlay.png"), url("../images/banner.jpg");
  background-position: top left, bottom center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: white;
  padding: 10em 5em 5em 5em;
  text-align: center; }
  #cta header {
    margin-bottom: 2em;
    text-shadow: 3px 4px 8px black; }
  #cta .promo-inner {
    width: 60%;
    margin: 0 auto;
    border-radius: 4px; }
    #cta .promo-inner header p {
      font-size: 23px;
      color: #ff8500; }
    #cta .promo-inner input {
      width: 50%;
      margin: 1em auto;
      padding: 1em;
      border-radius: 4px; }
      #cta .promo-inner input.promo-input {
        background: rgba(0, 0, 0, 0.25);
        text-align: center; }

/* Footer */
#footer {
  background: #333333;
  color: #7c8081;
  padding: 5em 4em 2em 4em;
  text-align: center;
  border-top: 1px solid rgba(240, 124, 17, 0.5); }
  #footer .copyright {
    font-size: 0.8em; }
    #footer .copyright a {
      color: inherit; }
  #footer .social-block .phone {
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center; }
  #footer .social-block .social-icons {
    margin: 0 auto; }
    #footer .social-block .social-icons li {
      display: inline-block;
      padding: 1em; }
      #footer .social-block .social-icons li a {
        border: none; }
    #footer .social-block .social-icons .fa {
      background-color: rgba(0, 0, 0, 0.15);
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #footer .social-block .social-icons .fa:hover.fa-facebook {
        background-color: #3C599F; }
      #footer .social-block .social-icons .fa:hover.fa-vk {
        background-color: #375474; }
      #footer .social-block .social-icons .fa:hover.fa-phone {
        background-color: rgba(225, 95, 14, 0.78); }
  #footer .bottom-menu {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em; }
    #footer .bottom-menu li a {
      border: none; }

/* Layers */
#topButton .toggle {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }
  #topButton .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  #topButton .toggle:before {
    color: white;
    content: '\f039';
    font-size: 0.75em;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
  #topButton .toggle:after {
    background: rgba(163, 169, 170, 0.75);
    border-radius: 0 0 4px 4px;
    content: '';
    height: 30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    top: 0;
    width: 80px; }

#sideButton .toggle {
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }
  #sideButton .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  #sideButton .toggle:before {
    color: white;
    content: '\f039';
    font-size: 1em;
    height: 40px;
    left: 10px;
    line-height: 40px;
    opacity: 0.5;
    position: absolute;
    top: 11px;
    width: 60px;
    z-index: 1; }
  #sideButton .toggle:after {
    background: rgba(163, 169, 170, 0.75);
    border-radius: 2px;
    content: '';
    height: 40px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 60px; }

#topPanel,
#sidePanel {
  background: #1c2021;
  color: white;
  font-size: 0.8em;
  letter-spacing: 0.075em;
  text-transform: uppercase; }
  #topPanel nav,
  #sidePanel nav {
    padding: 0.25em 0.5em 1em 0.5em; }
  #topPanel .link,
  #sidePanel .link {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    color: inherit;
    display: block;
    height: 3em;
    line-height: 3em;
    opacity: 0.75;
    text-decoration: none; }
    #topPanel .link.depth-0,
    #sidePanel .link.depth-0 {
      font-weight: 900; }
    #topPanel .link:first-child,
    #sidePanel .link:first-child {
      border-top: 0; }
  #topPanel .indent-1,
  #sidePanel .indent-1 {
    display: inline-block;
    width: 1em; }
  #topPanel .indent-2,
  #sidePanel .indent-2 {
    display: inline-block;
    width: 2em; }
  #topPanel .indent-3,
  #sidePanel .indent-3 {
    display: inline-block;
    width: 3em; }
  #topPanel .indent-4,
  #sidePanel .indent-4 {
    display: inline-block;
    width: 4em; }
  #topPanel .indent-5,
  #sidePanel .indent-5 {
    display: inline-block;
    width: 5em; }

.grid {
  margin-top: 4em; }
  .grid .item a img {
    height: 300px; }

/*Bx Slider*/
.bx-slider li img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-filter: grayscale(100%) brightness(100%) contrast(70%);
  -webkit-filter: grayscale(100%) brightness(100%) contrast(70%);
  -o-filter: grayscale(100%) brightness(100%) contrast(70%);
  -ms-filter: grayscale(100%) brightness(100%) contrast(70%);
  filter: grayscale(100%) brightness(100%) contrast(70%); }
  .bx-wrapper img:hover {
    -moz-filter: none;
    -webkit-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  left: -5px;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -150px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  z-index: 9999;
  border: none; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.info {
  padding: 5em;
  line-height: 5em;
  font-size: 0.9em; }

/*---------- vertical tab nav */
#vertical_tab_nav {
  display: block;
  width: 100%; }

#vertical_tab_nav ul {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  width: 30%;
  background: #555; }

#vertical_tab_nav li {
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
  text-align: left;
  padding: 0px; }

#vertical_tab_nav li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px; }

#vertical_tab_nav li a {
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
  padding: 7%;
  background: #57cac9;
  background: -webkit-linear-gradient(top, #444444, #333333);
  background: -moz-linear-gradient(top, #444444, #333333); }

#vertical_tab_nav li a.selected {
  background: transparent;
  color: #fa8c26; }

#vertical_tab_nav div {
  display: block;
  float: left;
  background: transparent;
  background: transparent;
  width: 64%;
  min-height: 500px;
  padding: 10px 3% 3% 3%;
  border-radius: 0 10px 10px 0; }

#vertical_tab_nav div article {
  display: none;
  margin: 0px;
  color: #555; }

#vertical_tab_nav div article p {
  margin: 0px 0px 20px 0px; }

/* Team  Styles */
.inner-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.column {
  display: inline-block; }
  .column .img-team .imgInner {
    height: 350px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }

.column img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 20%; }

.section-header {
  text-align: center; }

.section-info {
  text-align: center; }

.column-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  white-space: nowrap; }

.column-content {
  text-align: center;
  font-size: 12px;
  color: #a2a2a2;
  font-style: italic; }

.section-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 118px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.section-info {
  font-family: 'Droid Serif', sans-serif;
  font-style: italic;
  color: #a2a2a2;
  margin-bottom: 80px; }

.section-4 {
  background: #f7f7f7; }

.row-section-4 {
  margin-bottom: 50px; }

.slogan-team {
  font-size: 12px;
  color: #a2a2a2;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%; }

.content-right {
  left: 70%; }

@media screen and (max-width: 938px) {
  .content-right {
    left: 0; } }
/* Tooltip From Styles*/
.tooltip {
  background-color: #fa8c26;
  display: inline-block;
  width: 320px;
  text-align: center;
  padding: 20px;
  margin: 20px 0 0;
  position: absolute;
  z-index: 100;
  right: 0em;
  top: 3em; }
  .tooltip .phone {
    border-bottom: 1px solid white;
    border-left: none;
    border-top: none;
    border-right: none;
    text-align: center;
    letter-spacing: 4px; }
    .tooltip .phone:hover, .tooltip .phone:focus {
      border-bottom: 1px solid white; }

.tooltip-footer {
  background-color: #fa8c26;
  display: inline-block;
  width: 320px;
  text-align: center;
  padding: 20px;
  margin: 20px 0 0;
  position: absolute;
  z-index: 100;
  right: 12%;
  bottom: 230px;
  color: white; }
  .tooltip-footer:before {
    content: "";
    position: absolute;
    top: 135px;
    right: 20px;
    display: block;
    height: 0;
    width: 0;
    border-top: 20px solid #fa8c26;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent; }
  .tooltip-footer .phone {
    border-bottom: 1px solid white;
    border-left: none;
    border-top: none;
    border-right: none; }
    .tooltip-footer .phone:hover, .tooltip-footer .phone:focus {
      border-bottom: 1px solid white; }

/*  Accordion */
.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px; }

.question {
  position: relative;
  background: rgba(44, 44, 44, 0.75);
  color: #fa8c26;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  cursor: pointer; }

.answers {
  background: #f3f6fa;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease; }
  .answers .head-vacancy ul {
    list-style: none;
    height: 70px;
    margin: 0; }
    .answers .head-vacancy ul li {
      display: block; }
      .answers .head-vacancy ul li:first-child {
        float: left; }
      .answers .head-vacancy ul li:last-child {
        float: right; }
  .answers p {
    margin: 0 0 1em 0; }
  .answers ul {
    margin: 0 0 1em 0; }

.about {
  margin-top: 4em;
  text-align: justify;
  font-size: 16px;
  line-height: 20px;
  color: #424242;
  font-family: OpenSans;
  padding-bottom: 30px; }

.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px; }

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 1;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.questions {
  display: none; }

.review {
  margin: 80px 10% 0 10%; }
  .review h2 {
    float: left; }
  .review blockquote {
    width: 40%;
    float: right; }

.reviews .single-review header {
  background: #fcefd2;
  border-radius: 6px;
  color: black;
  font-family: OpenSans;
  min-height: 100px; }
  .reviews .single-review header div {
    height: 110px;
    width: 110px;
    float: left;
    margin: 0 20px; }
    .reviews .single-review header div img {
      padding: 10px;
      border-radius: 50pt;
      height: 105px; }
  .reviews .single-review header span {
    display: block;
    margin: 0;
    font-size: 16px; }
.reviews .single-review .text {
  border-bottom: 2px solid rgba(44, 44, 44, 0.75);
  margin-bottom: 10px;
  font-family: OpenSans;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 24px;
  padding: 10px; }

/* Side tabs for service page */
.blenderTabs ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.blenderTabs ul li {
  height: 60px;
  margin: 0;
  padding: 26px 0 0 10px;
  border-bottom: 1px solid #fff;
  display: block;
  overflow: hidden;
  cursor: pointer; }

.tabContent {
  font-family: Roboto;
  padding-right: 4em;
  text-align: justify;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .tabContent h2 {
    text-align: center; }

.active.tabContent {
  display: block !important; }

.leading--zero {
  list-style-type: decimal-leading-zero; }

ol.leading--zero {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
  margin: 0; }

ol.leading--zero li {
  display: block;
  height: 67px;
  line-height: 67px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  padding-left: 2em; }
  ol.leading--zero li.menuitem {
    font-family: Roboto;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

ol.leading--zero li.active {
  background: rgba(44, 44, 44, 0.75);
  color: #fa8c26;
  border-right: 2px solid #fa8c26;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Custom Layout */
.content--inline {
  display: inline;
  font-size: .8em; }

/* Constructions */
.const .constructions img {
  height: 200px;
  margin: 0 25px; }
.const #map {
  background: url(../images/map_main.png) no-repeat;
  background-size: 100%;
  height: 100px;
  width: 100%; }
  .const #map:after {
    content: 'Посмотреть на карте';
    position: absolute;
    left: 20%;
    margin-top: 10px;
    font-size: 30px;
    color: #666666;
    font-weight: 500;
    background: rgba(167, 126, 41, 0.2);
    padding: 16px; }

/*Payment Page Stylesheets*/
.payment {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em; }
  .payment img {
    margin: 0 auto; }
  .payment div {
    margin: 0 auto;
    width: 60%; }
    .payment div h1 {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 1.5em;
      color: #e66500;
      padding-bottom: 30px;
      border-bottom: 2px dashed; }
      .payment div h1 i {
        color: rgba(2, 2, 2, 0.82);
        font-size: 14px; }

#pay-form input,
#pay-form select,
#pay-form textarea {
  font-family: 'Open Sans';
  font-weight: 300; }

.services-body {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fa8c26; }
  .services-body span {
    display: block;
    color: #313131; }

/*News styles*/
.newsItem h1 {
  font-family: 'OpenSansBold';
  font-size: 25px;
  color: #545454;
  margin: 0; }
.newsItem > p {
  margin: 0 0 0 10px;
  font-weight: bold;
  font-size: 16px; }
.newsItem .newsdate {
  float: right;
  font-family: OpenSansCondensedBold;
  font-size: 14px; }
.newsItem .more {
  float: right;
  margin: 2px 100px 0 0; }
  .newsItem .more a.button {
    font-size: 0.6em;
    min-width: 18em;
    padding: 2px 0; }
.newsItem hr {
  margin-top: 1px; }

/*Pop up form */
.popup {
  display: none;
  padding: 35px;
  width: 400px;
  border: 1px solid #646464;
  border-radius: 6px;
  box-shadow: #737373 0px 4px 26px;
  min-height: 43px;
  height: auto;
  background: #dadada;
  opacity: 1; }
  .popup form input {
    padding: 8px;
    margin: 10px 0; }

#loginFromWrapper {
  padding: 20px;
  background: white;
  border: 2px solid #939393;
  text-align: center;
  display: none;
  border-radius: 4px; }
  #loginFromWrapper .login {
    margin: 0 auto; }
    #loginFromWrapper .login input {
      margin-top: 10px;
      padding: 5px; }
  #loginFromWrapper p {
    font-family: OpenSans;
    font-size: 16px;
    margin: 12px 0px;
    color: rgba(89, 89, 89, 0.95); }
  #loginFromWrapper .fa {
    background-color: rgba(0, 0, 0, 0.15);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #loginFromWrapper .fa:hover.fa-facebook {
      background-color: #3C599F; }
    #loginFromWrapper .fa:hover.fa-vk {
      background-color: #375474; }
    #loginFromWrapper .fa:hover.fa-phone {
      background-color: rgba(225, 95, 14, 0.78); }
    #loginFromWrapper .fa .icon {
      position: relative; }
      #loginFromWrapper .fa .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal; }
    #loginFromWrapper .fa.circle {
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border: 0;
      border-radius: 100%;
      display: inline-block;
      font-size: 1.25em;
      height: 2.25em;
      left: 0;
      line-height: 2.25em;
      text-align: center;
      text-decoration: none;
      top: 0;
      width: 2.25em; }
      #loginFromWrapper .fa.circle:hover {
        top: -0.2em; }
      #loginFromWrapper .fa.circle.fa-twitter {
        background: #70aecd;
        color: white; }
        #loginFromWrapper .fa.circle.fa-twitter:hover {
          background: #7fb7d2; }
      #loginFromWrapper .fa.circle.fa-facebook {
        background: #7490c3;
        color: white; }
        #loginFromWrapper .fa.circle.fa-facebook:hover {
          background: #829bc9; }
      #loginFromWrapper .fa.circle.fa-google-plus {
        background: #db6b67;
        color: white; }
        #loginFromWrapper .fa.circle.fa-google-plus:hover {
          background: #df7b77; }
      #loginFromWrapper .fa.circle.fa-github {
        background: #dcad8b;
        color: white; }
        #loginFromWrapper .fa.circle.fa-github:hover {
          background: #e1b89b; }
      #loginFromWrapper .fa.circle.fa-dribbble {
        background: #da83ae;
        color: white; }
        #loginFromWrapper .fa.circle.fa-dribbble:hover {
          background: #df93b8; }
    #loginFromWrapper .fa.feature {
      cursor: default;
      display: block;
      margin: 0 0 1.5em 0;
      opacity: 0.35;
      text-align: center; }
      #loginFromWrapper .fa.feature:before {
        font-size: 5em;
        line-height: 1em; }
    #loginFromWrapper .fa > .label {
      display: none; }

.userInfo {
  display: inline-block;
  position: relative;
  top: 4px; }
  .userInfo img {
    height: 40px; }
  .userInfo a {
    font-family: OpenSans;
    font-size: 16px;
    text-transform: lowercase;
    position: relative;
    bottom: 15px;
    left: 15px; }

.loginHeaderWrapper {
  margin: 8px 0;
  padding: 0 !important; }

.secondary-menu {
  height: 50px;
  color: white;
  display: none; }
  .secondary-menu div {
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
    padding: 0 150px; }
    .secondary-menu div img {
      height: 30px; }
    .secondary-menu div span {
      position: relative;
      bottom: 6px;
      left: 6px;
      font-size: 10px;
      font-family: OpenSans; }
    .secondary-menu div a {
      color: white; }
    .secondary-menu div.userInfo div.userPic {
      padding: 0;
      border-radius: 50%; }
    .secondary-menu div.userInfo span {
      margin-right: 10px; }
    .secondary-menu div.userInfo img {
      height: 40px; }
    .secondary-menu div:last-child {
      float: right;
      margin-right: 20px;
      margin-top: 2px;
      padding: 0; }

#menuButton {
  float: right; }

/* btn */
.menuBtn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0 !important;
  margin: 10px 20px; }

.menuBtn span {
  margin: 0 auto;
  position: relative;
  top: 12px; }

.menuBtn span:before, .menuBtn span:after {
  position: absolute;
  content: ''; }

.menuBtn span, .menuBtn span:before, .menuBtn span:after {
  width: 30px;
  height: 6px;
  background-color: #ffffff;
  display: block; }

.menuBtn span:before {
  margin-top: -12px; }

.menuBtn span:after {
  margin-top: 12px; }

.closeBtn span {
  -webkit-transition-duration: 0s;
  -webkit-transition-delay: .2s; }

.closeBtn span {
  background-color: transparent;
  -webkit-transition-delay: .2s; }

.closeBtn span:before {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0; }

.closeBtn span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition-delay: 0, .2s; }

.closeBtn span:after {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0; }

.closeBtn span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transition-delay: 0, .2s; }

#review_form input {
  margin: 10px; }
#review_form textarea {
  margin: 10px; }
